<%-include('header.ejs') %>
    <div class="screen-overlay"></div>
    <%- include('sideNav.ejs') %>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                            <button class="btn btn-light bg" type="button"> <i
                                    class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products">
                            <option value="New orders">
                            <option value="Apple iphone">
                            <option value="Ahmed Hassan">
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                            class="material-icons md-apps"></i> </button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i
                                    class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                    class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img
                                        src="/admin-assets/imgs/theme/flag-us.png" alt="English">English</a>
                                <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-fr.png"
                                        alt="Français">Français</a>
                                <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-jp.png"
                                        alt="Français">日本語</a>
                                <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-cn.png"
                                        alt="Français">中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                aria-expanded="false"> <img class="img-xs rounded-circle"
                                    src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                    Settings</a>
                                <a class="dropdown-item" href="#"><i
                                        class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                    center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Add Product</h4>
                            </div>
                            <div class="card-body">

                                
                                <form>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>
                                        <input type="text" placeholder="Product Name" class="form-control"
                                            id="product_name">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Category</label>

                                        <select class="form-select">
                                            <%for(let i=0;i<catData.length;i++){%>
                                                <option>
                                                    <%= catData[i].name %>
                                                </option>
                                                <%}%>

                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">League</label>

                                        <select class="form-select">
                                            <%for(let i=0;i<leagueData.length;i++){%>
                                                <option>
                                                    <%= leagueData[i].name %>
                                                </option>
                                                <%}%>

                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Team</label>

                                        <select class="form-select">
                                            <%for(let i=0;i<teamData.length;i++){%>
                                                <option>
                                                    <%= teamData[i].name %>
                                                </option>
                                                <%}%>

                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand</label>

                                        <select class="form-select">
                                            <%for(let i=0;i<brandData.length;i++){%>
                                                <option>
                                                    <%= brandData[i].name %>
                                                </option>
                                                <%}%>

                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Product description</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="form-label">size wise stock</label>
                                            <div class="mb-4">
                                                <label class="form-label">Small Quantity</label>
                                                <div class="row gx-2">
                                                    <input placeholder="enter stock of small" type="number"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">

                                            <div class="mb-4">
                                                <label class="form-label">Medium Quantity</label>
                                                <div class="row gx-2">
                                                    <input placeholder="enter stock of medium" type="number"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">

                                            <div class="mb-4">
                                                <label class="form-label">Large Quantity</label>
                                                <div class="row gx-2">
                                                    <input placeholder="enter stock of large" type="number"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="form-label">Price</label>
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Sale Price</label>
                                                <input type="text" placeholder="Enter the Sale Price"
                                                    class="form-control" id="product_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Regular Price</label>
                                                <input type="text" placeholder="Enter the Regular Price"
                                                    class="form-control" id="product_name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Media</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <img src="/admin-assets/imgs/theme/upload.svg" alt="">
                                                <input class="form-control" type="file">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">
                                        Add Product
                                    </button>
                                </form>


                            </div>
                        </div> <!-- card end// -->

                    </div>

                </div>
            </section> <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear())
                        </script> ©, Evara - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            All rights reserved
                        </div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin-assets/js/vendors/select2.min.js"></script>
        <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin-assets/js/main.js" type="text/javascript"></script>
        </body>


        <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

        </html>