<%- include('header.ejs') %>
    <div class="screen-overlay"></div>
    <%- include('sideNav.ejs') %>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                            <button class="btn btn-light bg" type="button"> <i
                                    class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products">
                            <option value="New orders">
                            <option value="Apple iphone">
                            <option value="Ahmed Hassan">
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                            class="material-icons md-apps"></i> </button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i
                                    class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                    class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                        alt="English">English</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                        alt="Français">Français</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                        alt="Français">日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                        alt="Français">中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                aria-expanded="false"> <img class="img-xs rounded-circle"
                                    src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                    Settings</a>
                                <a class="dropdown-item" href="#"><i
                                        class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                    center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <section class="content-main">
                <%if(orderData && orderData.length>0 && orderData !=='null'){%>
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Order List </h2>
                            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="card mb-4">
                                <header class="card-header">
                                    <div class="row gx-3">
                                        <div class="col-lg-4 col-md-6 me-auto">
                                            <input type="text" placeholder="Search..." class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-6">
                                            <select class="form-select">
                                                <option>Status</option>
                                                <option>Active</option>
                                                <option>Disabled</option>
                                                <option>Show all</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-6">
                                            <select class="form-select">
                                                <option>Show 20</option>
                                                <option>Show 30</option>
                                                <option>Show 40</option>
                                            </select>
                                        </div>
                                    </div>
                                </header> <!-- card-header end// -->
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">


                                            <thead>
                                                <tr>
                                                    <th> Sl No</th>
                                                    <th>ID</th>
                                                    <th>Customer name</th>
                                                    <th>Price</th>
                                                    <th>Status</th>
                                                    <th>Date</th>
                                                    <th class="text-end"></th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                             

                                                <% for(let i=0; i < orderData.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <b>
                                                                <%=userIndices[i]%>
                                                            </b>
                                                        </td>
                                                        <td>
                                                            <%=orderData[i].orderId%>
                                                        </td>
                                                        <td><b>
                                                                <%=orderData[i].address[0].firstName%>
                                                                    <%=orderData[i].address[0].lastName%>
                                                            </b></td>
                                                        <td>₹ <%=orderData[i].totalAmount%>
                                                        </td>

                                                        <% if(orderData[i].orderStatus=='pending' ){ %>
                                                            <td><span
                                                                    class="badge rounded-pill alert-warning">Pending</span>
                                                            </td>
                                                            <% } %>
                                                                <% if(orderData[i].orderStatus=='processing' ){ %>
                                                                    <td><span
                                                                            class="badge rounded-pill alert-warning">processing</span>
                                                                    </td>
                                                                    <% } %>
                                                                        <% if(orderData[i].orderStatus=='shipped' ){ %>
                                                                            <td><span
                                                                                    class="badge rounded-pill alert-warning">shipped</span>
                                                                            </td>
                                                                            <% } %>
                                                                                <% if(orderData[i].orderStatus=='delivered'
                                                                                    ){ %>
                                                                                    <td><span
                                                                                            class="badge rounded-pill alert-success">delivered</span>
                                                                                    </td>
                                                                                    <% } %>
                                                                                        <% if(orderData[i].orderStatus=='cancelled'
                                                                                            ){ %>
                                                                                            <td><span
                                                                                                    class="badge rounded-pill alert-danger">cancelled</span>
                                                                                            </td>
                                                                                            <% } %>

                                                                                                <td>
                                                                                                    <%= new
                                                                                                        Date(orderData[i].orderedAt).toLocaleDateString("en-US",
                                                                                                        { day: 'numeric'
                                                                                                        ,
                                                                                                        month: 'numeric'
                                                                                                        ,
                                                                                                        year: 'numeric'
                                                                                                        }) %>
                                                                                                </td>
                                                                                                <td class="text-end">
                                                                                                    <!-- <div class="mb-4">
                                                                                                        <select class="form-select">
                                                                                                            <option>Published</option>
                                                                                                            <option>Draft</option>
                                                                                                        </select>
                                                                                                    </div> -->


                                                                                                    <!-- <div
                                                                                                        class="dropdown">
                                                                                                        <a href="#"
                                                                                                            data-bs-toggle="dropdown"
                                                                                                            class="btn btn-light rounded btn-sm font-sm">
                                                                                                            <i
                                                                                                                class="material-icons md-more_horiz"></i>
                                                                                                        </a>
                                                                                                        <div
                                                                                                            class="dropdown-menu">
                                                                                                            <a class="dropdown-item"
                                                                                                                href="#">View
                                                                                                                detail</a>
                                                                                                            <a class="dropdown-item"
                                                                                                                href="#">Edit
                                                                                                                info</a>
                                                                                                            <a class="dropdown-item text-danger"
                                                                                                                href="#">Delete</a>
                                                                                                        </div>
                                                                                                    </div> -->

                                                                                                    <!-- 
                                                                                                    <div
                                                                                                        class="dropdown">
                                                                                                        <a href="#"
                                                                                                            data-bs-toggle="dropdown"
                                                                                                            class="btn btn-light rounded btn-sm font-sm">
                                                                                                            <i
                                                                                                                class="material-icons md-more_horiz"></i>
                                                                                                        </a>
                                                                                                        <div
                                                                                                            class="dropdown-menu">
                                                                                                            <a class="dropdown-item"
                                                                                                                href="#">View
                                                                                                                detail</a>
                                                                                                            <a class="dropdown-item"
                                                                                                                href="#">Edit
                                                                                                                info</a>
                                                                                                            <a class="dropdown-item text-danger"
                                                                                                                href="#">Delete</a>
                                                                                                        </div>
                                                                                                    </div> -->


                                                                                                    <div
                                                                                                        class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                                                                                        <a href="#"
                                                                                                            onclick="document.getElementById('detailsModal<%=i%>').style.display='block'"
                                                                                                            class="btn btn-sm font-sm rounded btn-brand">
                                                                                                            <!-- <i
                                                                                                                class="material-icons md-edit"></i> -->
                                                                                                            OrderStatus
                                                                                                        </a>

                                                                                                    </div>



                                                                                                </td>
                                                    </tr>
                                                    <% } %>

                                            </tbody>

                                        </table>
                                    </div> <!-- table-responsive //end -->
                                </div> <!-- card-body end// -->
                            </div> <!-- card end// -->
                        </div>
                        <!--  -->
                        <%}else{%>
                            <h2 class="content-title card-title">User Not Ordered Anything Yet! </h2>
                            <%}%>
                                <!-- Add this line to initialize Bootstrap components -->
                                <script>
                                    $(document).ready(function () {
                                        // Initialize Bootstrap components
                                        $('[data-toggle="dropdown"]').dropdown();
                                    });
                                </script>

                    </div>
                 

                        <div class="pagination-area mt-30 mb-50">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <%if(currentPage>1){%>
                                        <li class="page-item"><a class="page-link" href="/admin/all-orders?page=<%= parseInt(currentPage) - 1 %>"
                                            ><i class="material-icons md-chevron_left"></i></a></li>
                                        <%}%>
                                  
                                        <% for (let i=1; i <=pageCount; i++) { %>

                                            <li
                                                class=" <%= i == currentPage ? 'page-item active' : 'page-item ' %>">
                                                <a class="page-link" href="<%= `/admin/all-orders?page=${i}` %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                        
                                            <% } %>

                                          

                                            <%if(currentPage < pageCount){%>
                                                <li class="page-item"><a class="page-link" href="/admin/all-orders?page=<%= parseInt(currentPage) + 1 %>"
                                                    ><i class="material-icons md-chevron_right"></i></a></li>
                                                <%}%>


                                </ul>
                            </nav>
                        </div>
            </section> <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear())
                        </script> ©, Evara - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            All rights reserved
                        </div>
                    </div>
                </div>


                <!-- ----users list -----modal--------- -->
                <% for (let i=0; i < orderData.length; i++) { %>
                    <div class="w3-container" style="height: 500px;">


                        <!-- -----------modal --start----------- -->

                        <div id="detailsModal<%=i%>" class="w3-modal">
                            <div class="w3-modal-content w3-animate-zoom" style="width: 80%; max-width: 800px;">
                                <header class="w3-container" style="background-color: yellow;">
                                    <span onclick="document.getElementById('detailsModal<%=i%>').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Order Details of <span>Order Id: <%= orderData[i].orderId%></span></h2>
                                </header>
                                <div class="w3-container">
                                    <!-- Your content goes here -->
                                    <!-- <p>hiii</p>
                                     -->

                                    <div class="container mt-4">
                                        <label for="exampleSelect">Select Option:</label>
                                        <select class="form-select" id="orderStatusSelect<%=i%>"
                                            name="orderStatusSelect" onchange="selectChanged('<%=i%>')">
                                            <option value="pending" <%=orderData[i].orderStatus==='pending' ? 'selected'
                                                : '' %>>pending</option>
                                            <option value="processing" <%=orderData[i].orderStatus==='processing'
                                                ? 'selected' : '' %>>processing</option>
                                            <option value="shipped" <%=orderData[i].orderStatus==='shipped' ? 'selected'
                                                : '' %>>shipped</option>
                                            <option value="delivered" <%=orderData[i].orderStatus==='delivered'
                                                ? 'selected' : '' %>>delivered</option>
                                            <option value="cancelled" <%=orderData[i].orderStatus==='cancelled'
                                                ? 'selected' : '' %>>cancelled</option>
                                        </select>
                                      
                                 

                                    </div>

                                    <div class="container mt-4">
                                        <button type="button" style="display:none;" class="btn btn-primary"
                                            id="changeStatusBtn<%=i%>"
                                            onclick="changeOrderStatus('<%=orderData[i]._id%>','<%=i%>')">Change
                                            Status</button>
                                    </div>

                             
                                    <tr>
                                        <td>
                                          <p><b>Order Id:</b> <%= orderData[i].orderId %></p>
                                        </td>
                                        <td>
                                          <p><b>User Id:</b> <%= orderData[i].userId %></p>
                                        </td>
                                        <td>
                                            <p><b>Ordered At:</b> <%= new Date(orderData[i].orderedAt).toLocaleString() %></p>
                                          </td>
                                        <td>
                                          <h3>Ordered Items:</h3>
                                          <ul>
                                            <% for(let j=0; j < orderData[i].items.length; j++) { %>
                                                <li>
                                                    <p><b>Product Id:</b> <%= orderData[i].items[j].productId %>,<b>Quantity:</b><%= orderData[i].items[j].quantity %>, <b>Size:</b><%= orderData[i].items[j].size %></p>
                                                    <p>  </p>
                                                    <p> </p>
                                                  </li>
                                                  
                                            <% } %>
                                          </ul>
                                        </td>
                                        <td>
                                            <h3>Payment:</h3>
                                            <p><b>Payment Method:</b> <%= orderData[i].paymentMethod %></p>
                                          </td>



                                          <td>
                                            <p><b>Total Amount:</b> ₹ <%= orderData[i].totalAmount %></p>
                                          </td>
                                          <td>
                                            <p><b>Order Status:</b> <%= orderData[i].orderStatus %></p>
                                          </td>
                                         

                                        <td>
                                            <h3>Delivery Address:</h3>
                                          <p><b>First Name:</b> <%= orderData[i].address[0].firstName %>, <b>Last Name :</b><%= orderData[i].address[0].lastName %></p>
                                          <p><b>Phone:</b> <%= orderData[i].address[0].phone %> , <%= orderData[i].address[0].altPhone %></p>
                                          <p><b>House Name:</b> <%= orderData[i].address[0].houseName %>, <b>City :</b><%= orderData[i].address[0].city %>,
                                          <b>State :</b> <%= orderData[i].address[0].state %>, <b>Pincode :</b> <%= orderData[i].address[0].pincode %> ,
                                         <b>Landmark :</b> <%= orderData[i].address[0].landMark %></p>
                                        </td>
                                      
                                     
                                      </tr>

                                    <input id="hiddenOrderIndex" type="text" value="<%=i%>" hidden>


                                    <p style="color: white;">.</p>




                                </div>
                            </div>
                        </div>
                        <style>
                            #changeStatusBtn {
                                display: none;
                                /* Hide the button initially */
                            }
                        </style>

                        <%}%>
                            <!-- ['pending', 'processing', 'shipped', 'delivered', 'cancelled'] -->

                            <script>
                                function selectChanged(i) {
                                    const changeButton = document.getElementById(`changeStatusBtn${i}`)
                                    changeButton.style.display = 'block'
                                }
                            </script>


                            <script>
                                function changeOrderStatus(indexOforder, indexOfSelect) {



                                    Swal.fire({
                                        title: 'Change Order Status?',
                                        text: 'Do you want to change the order Status?',
                                        icon: 'question',
                                        showCancelButton: true,
                                        confirmButtonText: 'Yes, Change!',
                                        cancelButtonText: 'No, cancel'
                                    }).then((result) => {
                                        if (result.value) {



                                            const orderStatusSelect = document.getElementById(`orderStatusSelect${indexOfSelect}`).value
                                            const requestData = {
                                                idOforder: indexOforder,
                                                orderStatusSelect: orderStatusSelect
                                            };

                                            fetch('/admin/change-order-status', {
                                                method: 'PATCH',
                                                headers: {
                                                    'Content-Type': 'application/json',
                                                },
                                                body: JSON.stringify(requestData)
                                            }).then(response => response.json())
                                                .then(data => {
                                                    console.log(data.message);
                                                    window.location.reload()
                                                })
                                                .catch(error => {
                                                    console.log('Error updating :index of order', error);
                                                });
                                        } else {
                                            Swal.fire('Cancelled', 'Order Status Was Not Changed.', 'info');
                                        }
                                    });

                                }
                            </script>


                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script
                                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
                            <script
                                src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>







            </footer>
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js" type="text/javascript"></script>
        </body>


        <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->

        </html>