<%-include('header.ejs') %>
    <div class="screen-overlay"></div>
    <%- include('sideNav.ejs') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>








        <main class="main-wrap">
            <!-- <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                            <button class="btn btn-light bg" type="button"> <i
                                    class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products">
                            <option value="New orders">
                            <option value="Apple iphone">
                            <option value="Ahmed Hassan">
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                            class="material-icons md-apps"></i> </button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i
                                    class="material-icons md-nights_stay"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                    class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img
                                        src="/admin-asset/imgs/theme/flag-us.png" alt="English">English</a>
                                <a class="dropdown-item" href="#"><img src="/admin-asset/imgs/theme/flag-fr.png"
                                        alt="Français">Français</a>
                                <a class="dropdown-item" href="#"><img src="/admin-asset/imgs/theme/flag-jp.png"
                                        alt="Français">日本語</a>
                                <a class="dropdown-item" href="#"><img src="/admin-asset/imgs/theme/flag-cn.png"
                                        alt="Français">中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                aria-expanded="false"> <img class="img-xs rounded-circle"
                                    src="/admin-asset/imgs/people/avatar2.jpg" alt="User"></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                    Settings</a>
                                <a class="dropdown-item" href="#"><i
                                        class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                    center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header> -->


            <!-- ========================================category================================== -->
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
              
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/add-category" method="post" onsubmit="return validatecat()">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Category Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="cat-name"
                                        name="categoryName">

                                </div>

                                <span class="text-center text-success">
                                    <%= csMessage %>
                                </span>
                                
                                <span class="text-center text-danger">
                                    <%= ceMessage %>
                                </span>
                                <span class="text-center text-danger" id="errMessage">

                                </span>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>

                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="container" style="height: 400px; overflow-y: scroll;">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>block/unblock</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let i=0;i<catData.length;i++){ %>
                                                <tr>
                                                    <td>
                                                        <%=i+1 %>
                                                    </td>
                                                    <td><b>
                                                            <%= catData[i].name %>
                                                        </b></td>
                                                    <td>
                                                        <% if (catData[i].isActive==true) { %>
                                                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                                <span class="badge rounded-pill alert-success"
                                                                    onclick="confirmStatusChange('<%= catData[i]._id %>')">Active</span>
                                                            </div>
                                                            <% } else { %>
                                                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                                    <span
                                                                        class="badge rounded-pill alert-danger">Disabled</span>
                                                                </div>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (catData[i].isActive===true) { %>
                                                            <a href="#" onclick="confirmBlock('<%= catData[i]._id %>')">
                                                                <button
                                                                    class="btn btn-sm btn-danger rounded font-sm">Block</button>
                                                            </a>
                                                            <% } else { %>
                                                                <a href="#"
                                                                    onclick="confirmUnblock('<%= catData[i]._id %>')">
                                                                    <button
                                                                        class="btn btn-sm btn-success rounded font-sm ml-2">Unblock</button>
                                                                </a>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary"
                                                            onclick="launchSweetAlert('<%= catData[i]._id %>','<%= catData[i].name %>')">
                                                            edit
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
            </section> <!-- content-main end// -->


            </div>


            <!-- =================league===================== -->
            <section class="content-main">

                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">League </h2>
                        <p>Add, edit or delete a League</p>
                    </div>
                  
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form action="/admin/add-league" method="post" onsubmit="return validateLeague()">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Category Name</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="league-name"
                                            name="categoryName">

                                    </div>
                                    <span class="text-center text-danger">
                                        <%= leMessage %>
                                    </span>
                                    <span class="text-center text-success">
                                        <%= lsMessage %>
                                    </span>
                                    <span class="text-center text-success" class="league-err">

                                    </span>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Create League</button>

                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Block/Unblock</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for(let i=0;i<leagueData.length;i++){ %>
                                                <tr>

                                                    <td>
                                                        <%=i+1 %>
                                                    </td>
                                                    <td><b>
                                                            <%= leagueData[i].name %>
                                                        </b></td>
                                                    <td>
                                                        <% if (leagueData[i].isActive==true) { %>
                                                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                                <span
                                                                    class="badge rounded-pill alert-success">Active</span>
                                                            </div>
                                                            <% } else { %>
                                                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                                    <span
                                                                        class="badge rounded-pill alert-danger">Disabled</span>
                                                                </div>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (leagueData[i].isActive===true) { %>
                                                            <a href="#"
                                                                onclick="leagueBlock('<%= leagueData[i]._id %>')">
                                                                <button
                                                                    class="btn btn-sm btn-danger rounded font-sm">Block</button>
                                                            </a>
                                                            <% } else { %>
                                                                <a href="#"
                                                                    onclick="leagueUnblock('<%= leagueData[i]._id %>')">
                                                                    <button
                                                                        class="btn btn-sm btn-success rounded font-sm ml-2">Unblock</button>
                                                                </a>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary"
                                                            onclick="sweetAlertLeagueUpdate('<%= leagueData[i]._id %>','<%= leagueData[i].name %>')">
                                                            edit
                                                        </button>
                                                    </td>
                                                </tr>
                                                <%}%>

                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- .col// -->
                        </div> <!-- .row // -->
                    </div> <!-- card body .// -->
                </div> <!-- card .// -->
            </section>

            <!-- =========================team==================== -->
            <section class="content-main">

                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Team </h2>
                        <p>Add, edit or delete a Tea,</p>
                    </div>
                
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form action="/admin/add-team" method="post">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Category Name</label>
                                        <input type="text" placeholder="Type here" class="form-control"
                                            id="product_name" name="teamName">

                                    </div>
                                    <span class="text-center text-danger">
                                        <%= teMessage %>
                                    </span>
                                    <span class="text-center text-success">
                                        <%= tsMessage %>
                                    </span>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Create Team</button>

                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <!-- <th>Block/Unblock</th> -->
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for(let i=0;i<teamData.length;i++){ %>
                                                <tr>

                                                    <td>
                                                        <%=i+1 %>
                                                    </td>
                                                    <td><b>
                                                            <%= teamData[i].name %>
                                                        </b></td>
                                                    <!-- <td>
                                                        <% if (teamData[i].isActive==true) { %>
                                                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                                <span
                                                                    class="badge rounded-pill alert-success">Active</span>
                                                            </div>
                                                            <% } else { %>
                                                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                                    <span
                                                                        class="badge rounded-pill alert-danger">Disabled</span>
                                                                </div>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (teamData[i].isActive===true) { %>
                                                            <a href="#" onclick="teamBlock('<%= teamData[i]._id %>')">
                                                                <button
                                                                    class="btn btn-sm btn-danger rounded font-sm">Block</button>
                                                            </a>
                                                            <% } else { %>
                                                                <a href="#"
                                                                    onclick="teamUnblock('<%= teamData[i]._id %>')">
                                                                    <button
                                                                        class="btn btn-sm btn-success rounded font-sm ml-2">Unblock</button>
                                                                </a>
                                                                <% } %>
                                                    </td> -->
                                                    <td>
                                                        <button type="button" class="btn btn-primary"
                                                            onclick="sweetAlertTeamUpdate('<%= teamData[i]._id %>','<%= teamData[i].name %>')">
                                                            edit
                                                        </button>
                                                    </td>
                                                </tr>
                                                <%}%>

                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- .col// -->
                        </div> <!-- .row // -->
                    </div> <!-- card body .// -->
                </div> <!-- card .// -->
            </section>


            <!-- =====================brand============================================================ -->
            <section class="content-main">

                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Brand </h2>
                        <p>Add, edit or delete a brand,</p>
                    </div>
                   
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form action="/admin/add-brand" method="post" onsubmit="return validateForm()"
                                    enctype="multipart/form-data">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Brand Name</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="brand-name"
                                            name="brandName">

                                    </div>
                                    <span class="text-center text-danger">
                                        <%= beMessage %>
                                    </span>
                                    <span class="text-center text-success">
                                        <%= bsMessage %>
                                    </span>
                                    <span class="text-center text-danger" id="successMessage">

                                    </span>
                                    <div class="d-grid">
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <img src="/admin-assets/imgs/theme/upload.svg" alt="">
                                                <input class="form-control" type="file" id="file-input"
                                                    name="brandInput">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Create Brand
                                        </button>

                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Block/Unblock</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for(let i=0;i<brandData.length;i++){ %>

                                                <tr>
                                                    <td>
                                                        <%=i+1 %>
                                                    </td>
                                                    <td>
                                                        <!-- Display the image using the imageUrl -->
                                                        <img src="/admin-assets/uploads/<%= brandData[i].imageUrl %>"
                                                            alt="Brand Image"
                                                            style="max-width: 50px; max-height: 50px;">
                                                    </td>
                                                    <td><b>
                                                            <%= brandData[i].name %>
                                                        </b></td>
                                                    <td>
                                                        <% if (brandData[i].isActive==true) { %>
                                                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                                <span
                                                                    class="badge rounded-pill alert-success">Active</span>
                                                            </div>
                                                            <% } else { %>
                                                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                                    <span
                                                                        class="badge rounded-pill alert-danger">Disabled</span>
                                                                </div>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (brandData[i].isActive===true) { %>
                                                            <a href="#" onclick="brandBlock('<%= brandData[i]._id %>')">
                                                                <button
                                                                    class="btn btn-sm btn-danger rounded font-sm">Block</button>
                                                            </a>
                                                            <% } else { %>
                                                                <a href="#"
                                                                    onclick="brandUnblock('<%= brandData[i]._id %>')">
                                                                    <button
                                                                        class="btn btn-sm btn-success rounded font-sm ml-2">Unblock</button>
                                                                </a>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary"
                                                            onclick="sweetAlertBrandUpdate('<%= brandData[i]._id %>','<%= brandData[i].name %>')">
                                                            edit
                                                        </button>
                                                    </td>
                                                </tr>
                                                <%}%>

                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- .col// -->
                        </div> <!-- .row // -->
                    </div> <!-- card body .// -->
                </div> <!-- card .// -->
            </section>
            <!-- Add this script to your HTML to log image paths to the console -->





            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            //categoryUpdate=================================
                            function validatecat() {
                                // Get the values of the form fields
                                const catName = document.getElementById('cat-name').value;

                                // Check if both fields are filled
                                if (catName.trim() === '') {
                                    // Display an error message
                                    document.getElementById('errMessage').innerText = 'All fields must be filled.';
                                    // Prevent form submission
                                    return false;
                                }

                                // Clear any previous error messages
                                document.getElementById('successMessage').innerText = '';

                                // Allow form submission
                                return true;
                            }
                            //update sweet alert
                            function launchSweetAlert(catId, name) {
                                Swal.fire({
                                    title: 'Update category name',
                                    html: `
                                        <form id="updateForm" action="/admin/edit-cat" method="POST">
                                            <input name="catName" type="text" id="inputField" class="swal2-input" value="${name || ''}">
                                            <input name="id" type="hidden" id="id" class="swal2-input" value="${catId || ''}">
                                        </form>
                                    `,
                                    icon: 'info',
                                    showCancelButton: true,
                                    confirmButtonText: 'Update Category Name',
                                    cancelButtonText: 'Cancel',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // Trigger form submission when the user clicks "Update Category Name"
                                        document.getElementById('updateForm').submit();
                                    }
                                });
                            }
                            // category block and unblock
                            function confirmBlock(categoryId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'You are about to block this category.',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#d33',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, block it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/admin/blockCategory?_id=" + categoryId;
                                    }
                                });
                            }

                            function confirmUnblock(categoryId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'You are about to unblock this category.',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#28a745',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, unblock it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/admin/unblockCategory?_id=" + categoryId;
                                    }
                                });
                            }



                            //========================update league data=========================================
                            //validate league

                            function validateLeague() {
                                // Get the values of the form fields
                                const leagueName = document.getElementById('league-name').value;

                                // Check if the field is filled
                                if (leagueName.trim() === '') {
                                    // Display an error message
                                    document.querySelector('.league-err').innerText = 'All fields must be filled.';
                                    // Prevent form submission
                                    return false;
                                }

                                // Clear any previous error messages
                                document.querySelector('.league-err').innerText = '';

                                // Allow form submission
                                return true;
                            }

                            function sweetAlertLeagueUpdate(leagueId, name) {
                                Swal.fire({
                                    title: 'Update category name',
                                    html: `
                                        <form id="updateLeagueForm" action="/admin/edit-league" method="POST">
                                            <input name="leagueName" type="text" id="inputField" class="swal2-input" value="${name || ''}">
                                            <input name="id" type="hidden" id="id" class="swal2-input" value="${leagueId || ''}">
                                        </form>
                                    `,
                                    icon: 'info',
                                    showCancelButton: true,
                                    confirmButtonText: 'Update Category Name',
                                    cancelButtonText: 'Cancel',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // Trigger form submission when the user clicks "Update Category Name"
                                        document.getElementById('updateLeagueForm').submit();
                                    }
                                });
                            }
                            //block league
                            function leagueBlock(leagueId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'You are about to block this category.',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#d33',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, block it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/admin/blockLeague?_id=" + leagueId;
                                    }
                                });
                            }
                            //unblock league
                            function leagueUnblock(leagueId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'You are about to unblock this category.',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#28a745',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, unblock it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/admin/unblockLeague?_id=" + leagueId;
                                    }
                                });
                            }
                            //=======================team management=================================

                            function sweetAlertTeamUpdate(teamId, name) {
                                Swal.fire({
                                    title: 'Update Team name',
                                    html: `
                                        <form id="updateTeamForm" action="/admin/edit-team" method="POST">
                                            <input name="teamName" type="text" id="inputField" class="swal2-input" value="${name || ''}">
                                            <input name="id" type="hidden" id="id" class="swal2-input" value="${teamId || ''}">
                                        </form>
                                    `,
                                    icon: 'info',
                                    showCancelButton: true,
                                    confirmButtonText: 'Update Category Name',
                                    cancelButtonText: 'Cancel',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // Trigger form submission when the user clicks "Update Category Name"
                                        document.getElementById('updateTeamForm').submit();
                                    }
                                });
                            }
                            //block team
                            function teamBlock(teamId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'You are about to block this team.',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#d33',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, block it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/admin/blockTeam?_id=" + teamId;
                                    }
                                });
                            }
                            //unblock team
                            function teamUnblock(teamId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'You are about to unblock this team.',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#28a745',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, unblock it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/admin/unblockTeam?_id=" + teamId;
                                    }
                                });
                            }
                            //============================brand management=======================================
                            //brand form validation-----------------------
                            function validateForm() {
                                // Get the values of the form fields
                                const brandName = document.getElementById('brand-name').value;
                                const fileInput = document.getElementById('file-input').value;

                                // Check if both fields are filled
                                if (brandName.trim() === '' || fileInput.trim() === '') {
                                    // Display an error message
                                    document.getElementById('successMessage').innerText = 'All fields must be filled.';
                                    // Prevent form submission
                                    return false;
                                }

                                // Clear any previous error messages
                                document.getElementById('successMessage').innerText = '';

                                // Allow form submission
                                return true;
                            }
                            //brand update
                            function sweetAlertBrandUpdate(brandId, name) {
                                Swal.fire({
                                    title: 'Update Brand name',
                                    html: `
                                        <form id="updateBrandForm" action="/admin/edit-brand" method="POST">
                                            <input name="brandName" type="text" id="inputField" class="swal2-input" value="${name || ''}">
                                            <input name="id" type="hidden" id="id" class="swal2-input" value="${brandId || ''}">
                                        </form>
                                    `,
                                    icon: 'info',
                                    showCancelButton: true,
                                    confirmButtonText: 'Update Brand Name',
                                    cancelButtonText: 'Cancel',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // Trigger form submission when the user clicks "Update Category Name"
                                        document.getElementById('updateBrandForm').submit();
                                    }
                                });
                            }
                            //block team
                            function brandBlock(brandId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'You are about to block this brand.',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#d33',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, block it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/admin/block-brand?_id=" + brandId;
                                    }
                                });
                            }
                            //unblock team
                            function brandUnblock(brandId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'You are about to unblock this brand.',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#28a745',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, unblock it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/admin/unblock-brand?_id=" + brandId;
                                    }
                                });
                            }

                        </script>
                        <!-- Add this script tag to include the following JavaScript code -->



                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                    
                        </div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="/admin-asset/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin-asset/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin-asset/js/vendors/select2.min.js"></script>
        <script src="/admin-asset/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin-asset/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin-asset/js/main.js" type="text/javascript"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </body>


        <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->

        </html>