<%-include('header.ejs') %>
    <div class="screen-overlay"></div>
    <%- include('sideNav.ejs') %>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                            <button class="btn btn-light bg" type="button"> <i
                                    class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products">
                            <option value="New orders">
                            <option value="Apple iphone">
                            <option value="Ahmed Hassan">
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                            class="material-icons md-apps"></i> </button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i
                                    class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                    class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img
                                        src="/admin-assets/imgs/theme/flag-us.png" alt="English">English</a>
                                <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-fr.png"
                                        alt="Français">Français</a>
                                <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-jp.png"
                                        alt="Français">日本語</a>
                                <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-cn.png"
                                        alt="Français">中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                aria-expanded="false"> <img class="img-xs rounded-circle"
                                    src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                    Settings</a>
                                <a class="dropdown-item" href="#"><i
                                        class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                    center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Edit Product</h4>
                            </div>
                            <div class="card-body">
                           


                                <form action="/admin/edit-product?_id=<%=proData._id%>" method="post"
                                    enctype="multipart/form-data" onsubmit="return validateForm()">

                                    <h4 class=" text-danger text-center" for="errMessage">
                                        <%= errMessage %>
                                    </h4>
                                    <h4 class=" text-success text-center" for="sccMessage">
                                        <%= sccMessage %>
                                    </h4>
                                    <h4 class=" text-success text-center" id="errMessage"></h4>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>
                                        <input type="text" class="form-control" id="product_name" name="productName"
                                            value="<%=proData.name%>">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Category</label>
                                        <input type="text" class="form-control" id="product_name" 
                                            value="<%=proData.category.name%>" readonly>
                                        <select class="form-select" name="categoryId" id="current-categoryname">
                                            <% for(let i=0; i < catData.length; i++) { %>
                                                <option value="<%= catData[i]._id %>" id="categoryname"
                                                    <%=catData[i]._id.toString()===proData.category._id.toString()
                                                    ? 'selected' : '' %>
                                                    >
                                                    <%= catData[i].name %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">League</label>
                                        <input type="text" class="form-control" id="product_name" 
                                            value="<%=proData.league.name%>" readonly>
                                        <select class="form-select" name="leagueId">
                                            <%for(let i=0;i<leagueData.length;i++){%>
                                                <option value="<%= leagueData[i]._id %>" 
                                                    <%=leagueData[i]._id.toString()===proData.league._id.toString()
                                                    ? 'selected' : '' %>
                                                    >
                                                    <%= leagueData[i].name %>
                                                </option>
                                                <%}%>

                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Team</label>
                                        <input type="text" class="form-control" id="product_name" 
                                            value="<%=proData.team.name%>" readonly>
                                        <select class="form-select" name="teamId">
                                            <%for(let i=0;i<teamData.length;i++){%>
                                                <option value="<%= teamData[i]._id %>"
                                                    <%=teamData[i]._id.toString()===proData.team._id.toString()
                                                    ? 'selected' : '' %>
                                                    >
                                                    <%= teamData[i].name %>
                                                </option>
                                                <%}%>

                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand</label>
                                        <input type="text" class="form-control" id="product_name" 
                                            value="<%=proData.brand.name%>" readonly>
                                        <select class="form-select" name="brandId">
                                            <%for(let i=0;i<brandData.length;i++){%>
                                                <option value="<%= brandData[i]._id %>"
                                                    <%=brandData[i]._id.toString()===proData.brand._id.toString()
                                                    ? 'selected' : '' %>
                                                    >
                                                    <%= brandData[i].name %>
                                                  
                                                      
                                                </option>
                                                <%}%>

                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Product description</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4"
                                            name="productDesc"><%=proData.description%></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="form-label">size wise stock</label>
                                            <div class="mb-4">
                                                <label class="form-label">Small Quantity</label>
                                                <div class="row gx-2">
                                                    <input placeholder="enter stock of small" type="number"
                                                        class="form-control" name="smallQty"
                                                        value="<%=proData.size.s.quantity %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">

                                            <div class="mb-4">
                                                <label class="form-label">Medium Quantity</label>
                                                <div class="row gx-2">
                                                    <input placeholder="enter stock of medium" type="number"
                                                        class="form-control" name="mediumQty"
                                                        value="<%=proData.size.m.quantity %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">

                                            <div class="mb-4">
                                                <label class="form-label">Large Quantity</label>
                                                <div class="row gx-2">
                                                    <input placeholder="enter stock of large" type="number"
                                                        class="form-control" name="largeQty"
                                                        value="<%=proData.size.l.quantity %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="form-label">Price</label>
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Sale Price</label>
                                                <input type="text" placeholder="Enter the Sale Price"
                                                    class="form-control" id="product_name" name="salePrice"
                                                    value="<%=proData.price.salePrice %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Regular Price</label>
                                                <input type="text" placeholder="Enter the Regular Price"
                                                    class="form-control" id="product_name" name="regularPrice"
                                                    value="<%=proData.price.regularPrice %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="form-label">Existing Images</label>


                                            <%proData.imagesUrl.forEach((imagesUrl,index)=>{%>
                                                <div class="existing-image-container mb-2">
                                                    <img src="/admin-assets/uploads/<%=imagesUrl %>" class="img-fluid"
                                                        alt="Existing Image 1">
                                                    <input id="image<%= index %>" type="text" value="<%= imagesUrl %>" hidden>
                                                    <button type="button" class="btn btn-primary"
                                                        onclick="deleteImage('<%= index %>')">Delete</button>
                                                </div>
                                                <%})%>
                                                    <input type="text" id="productid" value="<%= proData._id %>" hidden>
                                                   


                                        </div>
                                    </div>

                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Media</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <img src="/admin-assets/imgs/theme/upload.svg" alt="">
                                                <input class="form-control" type="file" multiple name="newimages"
                                                    accept="image/*">

                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        Save Changes
                                    </button>
                                </form>


                            </div>
                        </div> <!-- card end// -->

                    </div>

                </div>
            </section>
            <script>
                async function hello(index) {
                    try {
                        const image = document.getElementById(`image${index}`).value
                        const id = document.getElementById('productid').value
                        const img_index=index


                        const response = await fetch(`/admin/edit-product?pr_id=${id}&img_index=${img_index}`, {
                            method: "DELETE",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        });
                        if (response.ok) {
                            const result = await response.json();
                            console.log("Success:", result);
                            window.location.reload();
                        } else {
                            console.error("Error:", response.statusText);
                        }
                    } catch (error) {
                        console.error("Error:", error);
                    }
                }







                function deleteImage(index) {

                    Swal.fire({
                        title: 'Delete This Image?',
                        text: 'Do you want to Delete this Image?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, Delete!',
                        cancelButtonText: 'No, cancel'
                    }).then((result) => {
                        if (result.value) {
                            hello(index)

                        } else {
                            Swal.fire('Cancelled', 'Your Image was not Deleted.', 'info');
                        }
                    });



                }
            </script>
             <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear())
                        </script> ©, Evara - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            All rights reserved
                        </div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin-assets/js/vendors/select2.min.js"></script>
        <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin-assets/js/main.js" type="text/javascript"></script>
        </body>
        <script>
            function validateForm() {
                var productName = document.getElementById('product_name').value.trim();
                var categoryId = document.querySelector('select[name="categoryId"]').value;
                var leagueId = document.querySelector('select[name="leagueId"]').value;
                var teamId = document.querySelector('select[name="teamId"]').value;
                var brandId = document.querySelector('select[name="brandId"]').value;
                var productDesc = document.querySelector('textarea[name="productDesc"]').value.trim();
                var smallQty = document.querySelector('input[name="smallQty"]').value.trim();
                var mediumQty = document.querySelector('input[name="mediumQty"]').value.trim();
                var largeQty = document.querySelector('input[name="largeQty"]').value.trim();
                var salePrice = document.querySelector('input[name="salePrice"]').value.trim();
                var regularPrice = document.querySelector('input[name="regularPrice"]').value.trim();
                // var images = document.querySelector('input[name="images"]').value;
                var errorMessage = document.getElementById('errMessage');
                if (
                    productName === '' ||
                    categoryId === '' ||
                    leagueId === '' ||
                    teamId === '' ||
                    brandId === '' ||
                    productDesc === '' ||
                    smallQty === '' ||
                    mediumQty === '' ||
                    largeQty === '' ||
                    salePrice === '' ||
                    regularPrice === '' ||
                    // images === ''
                ) {
                    alert('All fields must be filled');
                    return false;
                }

                if (parseInt(salePrice) >= parseInt(regularPrice)) {
                    alert('Sale price must be less than regular price');
                    return false;
                }

                return true;
            }
        </script>


        <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

        </html>