<%-include('header.ejs') %>
    <div class="screen-overlay"></div>
    <%- include('sideNav.ejs') %>
        <main class="main-wrap">
            <!-- <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                            <button class="btn btn-light bg" type="button"> <i
                                    class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products">
                            <option value="New orders">
                            <option value="Apple iphone">
                            <option value="Ahmed Hassan">
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                            class="material-icons md-apps"></i> </button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i
                                    class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                    class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                        alt="English">English</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                        alt="Français">Français</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                        alt="Français">日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                        alt="Français">中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                aria-expanded="false"> <img class="img-xs rounded-circle"
                                    src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                    Settings</a>
                                <a class="dropdown-item" href="#"><i
                                        class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                    center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header> -->

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Sales Report</h2>
                        <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                    </div>
                    <div>
                        <a href="#" onclick="printPage()" class="btn btn-primary hide-on-print" id="printButton"><i
                                class="text-muted material-icons md-post_add hide-on-print"></i>sales Report</a>
                    </div>
                    <script>
                        function printPage() {
                            window.print();
                        }

                    </script>
                    <style>
                        @media print {
                            .hide-on-print {
                                display: none;
                            }
                        }
                    </style>
                    <div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-4">
                            <header class="card-header">
                                <div class="row gx-3">
                                    <div class="col-lg-4 col-md-6 text-end">
                                        <img src="/admin-assets/imgs/theme/logo.svg" alt="Evara Dashboard">
                                    </div>
                                    <div class="col-lg-8 col-md-6 d-flex align-items-center">
                                        <form action="/admin/dateofsalesreport" method="post" class="d-flex"
                                            id="dateForm" onsubmit="return dateValidation()">
                                            <div class="me-3">
                                                <label for="fromDate" class="m-0">From:</label>
                                                <input type="date" value="<%=fromDateToFrontEnd%>" class="form-control"
                                                    name="fromDate" style="width: 100%;"
                                                  id="fromDate" onchange="toggleButtonVisibility()">
                                            </div>
                                            <div class="me-3">
                                                <label for="toDate" class="m-0">To:</label>
                                                <input type="date" value="<%=toDateToFrontEnd%>" class="form-control"
                                                    name="toDate" style="width: 100%;"
                                                    id="toDate" onchange="toggleButtonVisibility()">
                                            </div>

                                            <div>
                                                <div class="me-3 hide-on-print">
                                                    <!-- <label for="submitButton" id="submitButtonLabel" class="m-0" style="display: none;">Report</label> -->
                                                    <button id="submitButton" type="submit"
                                                        class="btn btn-primary btn-sm hide-on-print"
                                                      style="display: none;" >Show
                                                        Report</button>
                                                </div>
                                                <h6 class="text-center text-danger" id="dateError"></h6>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <script>
                                    function dateValidation() {
                                        const fromDate = new Date(document.getElementById('fromDate').value)
                                        const toDate = new Date(document.getElementById('toDate').value)
                                        const dateError = document.getElementById('dateError')
                                        const dateForm = document.getElementById('dateForm')
                            

                                        console.log(fromDate);
                                        console.log(toDate);

                                        if (fromDate>=toDate) {
                                            dateError.innerHTML = 'fromDate should be before toDate';
                                            return false
                                        } else {
                                            dateError.innerHTML = '';
                                            return true
                                        }
                                       return false
                                    }


                                    function toggleButtonVisibility() {
                                        var fromDate = document.getElementsByName('fromDate')[0].value;
                                        var toDate = document.getElementsByName('toDate')[0].value;
                                        var submitButton = document.getElementById('submitButton');
                                        var submitButtonLabel = document.getElementById('submitButtonLabel');

                                        // Display the button and label only if either fromDate or toDate has a value
                                        if (fromDate || toDate) {
                                            submitButton.style.display = 'inline-block';
                                            submitButtonLabel.style.display = 'inline-block';
                                        } else {
                                            submitButton.style.display = 'none';
                                            submitButtonLabel.style.display = 'none';
                                        }
                                    }
                                </script>

                                <!-- <div class="col-md-2 col-6">
                                    <label for="fromDate">from</label>
                                    <input type="date" class="form-control" name="fromDate">
                                </div>
                                <div class="col-md-2 col-6">
                                    <label for="toDate">to</label>
                                    <input type="date" class="form-control" name="toDate">
                                </div> -->
                        </div>
                        </header>

                        <!-- card-header end// -->

                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <%if(orderData && orderData.length>0){%>
                                        <tr>
                                            <th>#ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col"></th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <th scope="col" class="text-end hide-on-print"> Action </th>
                                        </tr>
                                        <%}else{%>
                                            <h3 class="text-center">No orders During these Dates</h3>
                                            <%}%>
                                    </thead>
                                    <tbody>
                                        <%for(let i=0;i<orderData.length;i++){%>
                                            <tr>
                                                <td>
                                                    <%=orderData[i].orderId%>
                                                </td>
                                                <td><b>
                                                        <%=orderData[i].userData.name%>
                                                    </b></td>
                                                <td>

                                                </td>
                                                <td>
                                                    <%=orderData[i].totalAmount%>
                                                </td>
                                                <% if(orderData[i].orderStatus=='pending' ){ %>
                                                    <td><span class="badge rounded-pill alert-warning">Pending</span>
                                                    </td>
                                                    <% } %>
                                                        <% if(orderData[i].orderStatus=='processing' ){ %>
                                                            <td><span
                                                                    class="badge rounded-pill alert-warning">processing</span>
                                                            </td>
                                                            <% } %>
                                                                <% if(orderData[i].orderStatus=='shipped' ){ %>
                                                                    <td><span
                                                                            class="badge rounded-pill alert-warning">shipped</span>
                                                                    </td>
                                                                    <% } %>
                                                                        <% if(orderData[i].orderStatus=='delivered' ){
                                                                            %>
                                                                            <td><span
                                                                                    class="badge rounded-pill alert-success">delivered</span>
                                                                            </td>
                                                                            <% } %>
                                                                                <% if(orderData[i].orderStatus=='cancelled'
                                                                                    ){ %>
                                                                                    <td><span
                                                                                            class="badge rounded-pill alert-danger">cancelled</span>
                                                                                    </td>
                                                                                    <% } %>

                                                                                        <td>
                                                                                            <%= new
                                                                                                Date(orderData[i].orderedAt).toLocaleDateString("en-US",
                                                                                                { day: 'numeric' ,
                                                                                                month: 'numeric' ,
                                                                                                year: 'numeric' }) %>
                                                                                        </td>

                                                                                        <td
                                                                                            class="text-end hide-on-print">
                                                                                            <a href="/admin/single-order-details?_id=<%=orderData[i]._id%>"
                                                                                                class="btn btn-md rounded font-sm hide-on-print">Detail</a>
                                                                                            <!-- <div class="dropdown">
                                                                                                <a href="#"
                                                                                                    data-bs-toggle="dropdown"
                                                                                                    class="btn btn-light rounded btn-sm font-sm">
                                                                                                    <i
                                                                                                        class="material-icons md-more_horiz"></i>
                                                                                                </a>
                                                                                                <div
                                                                                                    class="dropdown-menu">
                                                                                                    <a class="dropdown-item"
                                                                                                        href="#">View
                                                                                                        detail</a>
                                                                                                    <a class="dropdown-item"
                                                                                                        href="#">Edit
                                                                                                        info</a>
                                                                                                    <a class="dropdown-item text-danger"
                                                                                                        href="#">Delete</a>
                                                                                                </div>
                                                                                            </div> -->
                                                                                            <!-- dropdown //end -->
                                                                                        </td>
                                            </tr>
                                            <%}%>

                                    </tbody>
                                </table>
                            </div> <!-- table-responsive //end -->
                        </div> <!-- card-body end// -->
                    </div> <!-- card end// -->
                    <style>
                        .underline {
                            border-bottom: 1px solid #000;
                            /* You can adjust the color and thickness as needed */
                            display: inline-block;
                            /* Ensures that the border only spans the width of the text */
                            padding-bottom: 5px;
                            /* Adjust as needed to control the distance between text and border */
                        }
                    </style>
                    <%if(orderData && orderData.length>0){%>
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="mb-3 underline">Transaction Details</h4>
                                <form>
                                    <h5>From Date</h5>
                                    <div class="mb-4">
                                        <!-- <input type="text" placeholder="Type here" class="form-control" id="order_id"> -->
                                        <h6 id='from-date-h6'>
                                            <%=fromDateToFrontEnd%>
                                        </h6>
                                    </div>
                                    <h5>To Date</h5>
                                    <div class="mb-4">
                                        <h6>
                                            <%=toDateToFrontEnd%>
                                        </h6>
                                    </div>

                                    <h5>Total Orders</h5>

                                    <div class="mb-4">
                                        <h6>
                                            <%=totalOrders%>
                                        </h6>
                                    </div>
                                    <h5>Order Status</h5>

                                    <div class="mb-4">
                                        <h6>Pending: <%=orderPendingCount%>
                                        </h6>
                                        <h6>processing: <%=orderProcessingCount%>
                                        </h6>
                                        <h6>Shipped: <%=orderShippedCount%>
                                        </h6>
                                        <h6>Delivered: <%=orderDeliveredCount%>
                                        </h6>
                                        <h6>cancelled: <%=orderCancelledCount%>
                                        </h6>
                                    </div>

                                    <h5>COD Orders</h5>
                                    <div class="mb-4">
                                        <h6>
                                            <%=codCount%>
                                        </h6>
                                    </div>

                                    <h5>COD Total Amount
                                    </h5>
                                    <div class="mb-4">
                                        <h6><strong>
                                                <%=codPaymentAmount%>
                                            </strong></h6>
                                    </div>


                                    <h5>UPI Orders</h5>
                                    <div class="mb-4">
                                        <h6>
                                            <%=upiCount%>
                                        </h6>
                                    </div>
                                    <h5>UPI Total Amount
                                    </h5>
                                    <div class="mb-4">
                                        <h6><strong>
                                                <%=upiPaymentAmount%>
                                            </strong></h6>
                                    </div>
                                    <h3>Total Amount</h3>
                                    <div class="mb-4">
                                        <h4><strong>
                                                <%=totalAmount%>
                                            </strong></h4>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- card end// -->
                    </div>
                    <%}%>
                    <!-- <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i
                                        class="material-icons md-chevron_right"></i></a></li>
                        </ul>
                    </nav>
                </div> -->
            </section> <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script data-cfasync="false"
                            src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>
                            document.write(new Date().getFullYear())
                        </script> ©, jersyman
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            All rights reserved
                        </div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js" type="text/javascript"></script>
        </body>


        <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->

        </html>