<!-- Your main template -->
<%- include('header.ejs') %>
    <div class="screen-overlay"></div>
    <%- include('sideNav.ejs') %>
        <main class="main-wrap">
            <!-- ... other content ... -->
            <section class="content-main">
                <div class="content-header">
                    <!-- ... content header ... -->
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Center the form -->
                                <div class="d-flex justify-content-center">
                                    <!-- formPartial.ejs -->
                                  
                                    <form action="/admin/edit-cat" method="post">
                                        <div class="mb-4">
                                            <h3 for="form_field" class="form-label"><%= colName %></h3>
                                            <input type="text" placeholder="Type here" class="form-control" value="<%= colName %>" id="form_field"
                                                name="catName">
                                                <input type="hidden" value="<%= id %>" name="id"> 
                                                <input type="hidden" value="<%= model %>" name="model">
                                        </div>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <!-- ... table content ... -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ... other content ... -->
        </main>
        <footer class="main-footer font-xs">
            <!-- ... footer content ... -->
        </footer>
        <script src="/admin-asset/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin-asset/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin-asset/js/vendors/select2.min.js"></script>
        <script src="/admin-asset/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin-asset/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin-asset/js/main.js" type="text/javascript"></script>
        </body>

        </html>
