<%- include("header.ejs") %>
    <!-- Header Area End Here -->
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Li's Breadcrumb Area End Here -->
    <!-- about wrapper start -->
    <div class="about-us-wrapper pt-60 pb-40">
        <div class="container">
            <div class="row">
                <!-- About Text Start -->
                <div class="col-lg-6 order-last order-lg-first">
                    <div class="about-text-wrap">
                        <%if(bannerData && bannerData.length>0 ){%>

                            <%for(let i=0;i<bannerData.length;i++){%>
                                <% if(bannerData[i].name=='about' &&
                                    bannerData[i].isActive==true){%>
                        <h2><span><%=bannerData[i].subtitle%>
                        </span><%=bannerData[i].title%></h2>
                        <p><%=bannerData[i].description%></p>
                            <%}%>
                            <%}%>
                            <%}%>

                    </div>
                </div>
                <!-- About Text End -->
                <!-- About Image Start -->
                <div class="col-lg-5 col-md-10">
                    <div class="about-image-wrap">
                        <%if(bannerData && bannerData.length>0 ){%>

                            <%for(let i=0;i<bannerData.length;i++){%>
                                <% if(bannerData[i].name=='about' &&
                                    bannerData[i].isActive==true){%>
                        <img class="img-full" src="/admin-assets/uploads/<%=bannerData[i].imageUrl%>" alt="About Us" />
                        <%}%>
                        <%}%>
                        <%}%>


                    </div>
                </div>
                <!-- About Image End -->
            </div>
        </div>
    </div>
    <!-- about wrapper end -->

    <%- include("footer.ejs") %>