<%- include('header.ejs') %>
    <!-- Begin Slider With Banner Area -->
    <%if(bannerData && bannerData.length>0 ){%>

        <%for(let i=0;i<bannerData.length;i++){%>
            <% if(bannerData[i].name=='home1' && bannerData[i].isActive==true){%>
                <div class="slider-with-banner">
                    <div class="container">
                        <div class="row">
                            <!-- Begin Slider Area -->
                            <div class="col-lg-8 col-md-8">
                                <div class="slider-area">
                                    <div class="slider-active owl-carousel">
                                        <!-- Begin Single Slide Area -->

                                        <div class="single-slide align-center-left  animation-style-01 bg-1"
                                            style="background-image: url('/admin-assets/uploads/<%=bannerData[i].imageUrl%>');">
                                            <div class="slider-progress"></div>
                                            <div class="slider-content">
                                                <h5 style="color: white;">
                                                    <%=bannerData[i].title%>
                                                </h5>
                                                <h2 style="color: white;">
                                                    <%=bannerData[i].subtitle%>
                                                </h2>
                                                <h3 style="color: white;">
                                                    <%=bannerData[i].description%> </span>
                                                </h3>
                                                <div class="default-btn slide-btn">
                                                    <a class="links" href="<%=bannerData[i].targetUrl%>">Shop Now</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Slide Area End Here -->
                                        <!-- Begin Single Slide Area -->
                                        <!-- <div class="single-slide align-center-left animation-style-02 bg-2">
                                <div class="slider-progress"></div>
                                <div class="slider-content">
                                    <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                                    <h2>Work Desk Surface Studio 2018</h2>
                                    <h3>Starting at <span>$824.00</span></h3>
                                    <div class="default-btn slide-btn">
                                        <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                    </div>
                                </div>
                            </div> -->
                                        <!-- Single Slide Area End Here -->
                                        <!-- Begin Single Slide Area -->
                                        <!-- <div class="single-slide align-center-left animation-style-01 bg-3">
                                <div class="slider-progress"></div>
                                <div class="slider-content">
                                    <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                                    <h2>Phantom 4 Pro+ Obsidian</h2>
                                    <h3>Starting at <span>$1849.00</span></h3>
                                    <div class="default-btn slide-btn">
                                        <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                    </div>
                                </div>
                            </div> -->
                                        <!-- Single Slide Area End Here -->
                                    </div>
                                </div>
                            </div>
                            <!-- --------------2----------------- -->

                            <!-- Li Banner Area End Here -->
                        </div>
                    </div>
                </div>
                <%}%>
                    <%}%>
                        <%}%>


                            <!-- Slider With Banner Area End Here -->

                            <div class="li-main-blog-page pt-60 pb-55">
                                <div class="container">
                                    <div class="row">
                                        <!-- Begin Li's Main Content Area -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="li-product-tab">
                                                    <ul class="nav li-product-menu">
                                                        <li><a class="active" data-toggle="tab"
                                                                href="#li-new-product"><span>
                                                                    Shop By Category</span></a></li>

                                                    </ul>
                                                </div>
                                                <!-- Begin Li's Tab Menu Content Area -->
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="row li-main-content">
                                                <!-- cricket category starts -->
                                                <%if(bannerData && bannerData.length>0 ){%>

                                                    <%for(let i=0;i<bannerData.length;i++){%>
                                                        <% if(bannerData[i].name=='cricketCat' &&
                                                            bannerData[i].isActive==true){%>
                                                            <div class="col-lg-6 col-md-6">
                                                                <div class="li-blog-single-item pb-25">
                                                                    <div class="li-blog-banner">
                                                                        <a href="<%=bannerData[i].targetUrl%>"><img
                                                                                class="img-full"
                                                                                src="/admin-assets/uploads/<%=bannerData[i].imageUrl%>"
                                                                                alt=""></a>
                                                                    </div>
                                                                    <div class="li-blog-content">
                                                                        <div class="li-blog-details">
                                                                            <h3 class="li-blog-heading pt-25"><a
                                                                                    href="<%=bannerData[i].targetUrl%>"><%=bannerData[i].title%></a></h3>
                                                                            
                                                                            <p><%=bannerData[i].description%></p>
                                                                            <a class="read-more"
                                                                                href="<%=bannerData[i].targetUrl%>">
                                                                                Shop now...</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <%}%>
                                                                <%}%>
                                                                    <%}%>

                                                                        <!-- --cricket category ends -->
                                                                        <!-- ----foot ball Category -->
                                                                        <%if(bannerData && bannerData.length>0 ){%>

                                                                            <%for(let i=0;i<bannerData.length;i++){%>
                                                                                <% if(bannerData[i].name=='footballCat' &&
                                                                                    bannerData[i].isActive==true){%>
                                                                                    <div class="col-lg-6 col-md-6">
                                                                                        <div class="li-blog-single-item pb-25">
                                                                                            <div class="li-blog-banner">
                                                                                                <a href="<%=bannerData[i].targetUrl%>"><img
                                                                                                        class="img-full"
                                                                                                        src="/admin-assets/uploads/<%=bannerData[i].imageUrl%>"
                                                                                                        alt=""></a>
                                                                                            </div>
                                                                                            <div class="li-blog-content">
                                                                                                <div class="li-blog-details">
                                                                                                    <h3 class="li-blog-heading pt-25"><a
                                                                                                            href="<%=bannerData[i].targetUrl%>"><%=bannerData[i].title%></a></h3>
                                                                                                    
                                                                                                    <p><%=bannerData[i].description%></p>
                                                                                                    <a class="read-more"
                                                                                                        href="<%=bannerData[i].targetUrl%>">
                                                                                                        Shop now...</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <%}%>
                                                                                        <%}%>
                                                                                            <%}%>
                                                                        <!-- football category ends -->

                                            </div>
                                        </div>
                                        <!-- Li's Main Content Area End Here -->
                                    </div>
                                </div>
                            </div>


                            <!-- -----slider------ -->

                            <!-- slider end -->

                            <!-- Begin Product Area -->
                            <div class="product-area pt-60 pb-50">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="li-product-tab">
                                                <ul class="nav li-product-menu">
                                                    <li><a class="active" data-toggle="tab"
                                                            href="#li-new-product"><span>New
                                                                Arrival</span></a></li>

                                                </ul>
                                            </div>
                                            <!-- Begin Li's Tab Menu Content Area -->
                                        </div>
                                    </div>
                                    <div id="li-featured-product" class="tab-pane" role="tabpanel">
                                        <div class="row">
                                            <style>
                                                .product_desc_info {
                                                    display: flex;
                                                    flex-direction: column;
                                                    height: 120px;
                                                    /* Adjust the height as needed */
                                                    justify-content: space-between;
                                                }

                                                .price-box {
                                                    margin-top: auto;
                                                }
                                            </style>

                                            <div class="product-active owl-carousel">
                                                <% for (let i=0; i < prData.length; i++) { %>
                                                    <div class="col-lg-12">
                                                        <!-- single-product-wrap start -->
                                                        <!-- for looping -->
                                                        <div class="single-product-wrap">
                                                            <div class="product-image">
                                                                <a href="/single-product-view?_id=<%=prData[i]._id%>">
                                                                    <img src="/admin-assets/uploads/<%= prData[i].imagesUrl[0] %>"
                                                                        alt="Li's Product Image">
                                                                </a>
                                                                <span class="sticker">New</span>
                                                            </div>
                                                            <div class="product_desc">
                                                                <div class="product_desc_info">
                                                                    <div class="product-review">
                                                                        <h5 class="manufacturer">
                                                                            <a href="#">
                                                                                <%= prData[i].brand.name %>
                                                                            </a>
                                                                        </h5>
                                                                    </div>
                                                                    <h4>
                                                                        <a class="product_name"
                                                                            href="/single-product-view?_id=<%=prData[i]._id%>"
                                                                            title="<%= prData[i].name %>">
                                                                            <%= prData[i].name.length> 50 ?
                                                                                prData[i].name.substring(0, 50) + '...'
                                                                                : prData[i].name %>
                                                                        </a>
                                                                    </h4>
                                                                    <div class="price-box">
                                                                        <span class="new-price"
                                                                            style="font-size: 18px;font-weight: 900;">&#8377;
                                                                            <%= prData[i].price.salePrice %>
                                                                        </span>
                                                                        <span class="old-price"
                                                                            style="font-size: 15px;">&#8377;<%=
                                                                                prData[i].price.regularPrice %></span>
                                                                    </div>

                                                                </div>
                                                                <div class="add-actions">
                                                                    <ul class="add-actions-link">
                                                                        <!-- <li class="add-cart active"  onclick="addToCart('<%=prData[i]._id%>',event)"><a href="#">Add to cart</a></li> -->

                                                                        <li><a href="#" title="quick view"
                                                                                class="quick-view-btn"
                                                                                data-toggle="modal"
                                                                                data-target="#exampleModalCenter<%=i%>"><i
                                                                                    class="fa fa-eye"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- for looping -->
                                                    </div>
                                                    <% } %>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>


                            <%for(let i=0;i<prData.length;i++){%>
                                <div class="modal fade modal-wrapper" id="exampleModalCenter<%=i%>">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <div class="modal-inner-area row">
                                                    <div class="col-lg-5 col-md-6 col-sm-6">
                                                        <!-- Product Details Left -->
                                                        <div class="product-details-left">
                                                            <div class="product-details-images slider-navigation-1">
                                                                <div class="lg-image">
                                                                    <img src="/admin-assets/uploads/<%=prData[i].imagesUrl[0]%>"
                                                                        alt="product image">
                                                                </div>
                                                                <div class="lg-image">
                                                                    <img src="/admin-assets/uploads/<%=prData[i].imagesUrl[1]%>"
                                                                        alt="product image">
                                                                </div>
                                                                <div class="lg-image">
                                                                    <img src="/admin-assets/uploads/<%=prData[i].imagesUrl[2]%>"
                                                                        alt="product image">
                                                                </div>
                                                            </div>
                                                            <div class="product-details-thumbs slider-thumbs-1">
                                                                <div class="sm-image"><img
                                                                        src="/admin-assets/uploads/<%=prData[i].imagesUrl[0]%>"
                                                                        alt="product image thumb"></div>
                                                                <div class="sm-image"><img
                                                                        src="/admin-assets/uploads/<%=prData[i].imagesUrl[1]%>"
                                                                        alt="product image thumb"></div>
                                                                <div class="sm-image"><img
                                                                        src="/admin-assets/uploads/<%=prData[i].imagesUrl[2]%>"
                                                                        alt="product image thumb"></div>
                                                            </div>
                                                        </div>
                                                        <!--// Product Details Left -->
                                                    </div>

                                                    <div class="col-lg-7 col-md-6 col-sm-6">
                                                        <div class="product-details-view-content pt-60">
                                                            <div class="product-info">
                                                                <h2>
                                                                    <%=prData[i].name%>
                                                                </h2>
                                                                <span class="product-details-ref">
                                                                    <%=prData[i].brand.name%>
                                                                </span>

                                                                <div class="price-box pt-20">
                                                                    <span class="new-price new-price-2">
                                                                        <%=prData[i].price.salePrice%>
                                                                    </span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>
                                                                        <span>
                                                                            <%=prData[i].description%>
                                                                        </span>
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <%}%>

                                    <!-- --------banner 2---------------- -->
                                    <%if(bannerData && bannerData.length>0 ){%>

                                        <%for(let i=0;i<bannerData.length;i++){%>
                                            <% if(bannerData[i].name=='home2' && bannerData[i].isActive==true){%>
                                                <div class="li-static-home">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <!-- Begin Li's Static Home Image Area -->
                                                                <div class="li-static-home-image"
                                                                    style="background-image: url('/admin-assets/uploads/<%=bannerData[i].imageUrl%>');">
                                                                </div>
                                                                <!-- Li's Static Home Image Area End Here -->
                                                                <!-- Begin Li's Static Home Content Area -->
                                                                <div class="li-static-home-content">
                                                                    <!-- <p>Sale Offer<span>-20% Off</span>This Week</p>
                                                                    <h2>Featured Product</h2>
                                                                    <h2>Meito Accessories 2018</h2>
                                                                    <p class="schedule">
                                                                        Starting at
                                                                        <span> $1209.00</span>
                                                                    </p> -->
                                                                    <h2 style="color: white;">
                                                                        <%=bannerData[i].title%>
                                                                    </h2>
                                                                    <h2 style="color: white;">
                                                                        <%=bannerData[i].subtitle%>
                                                                    </h2>
                                                                    <p style="color: white;">
                                                                        <%=bannerData[i].description%> </span>
                                                                    </p>
                                                                    <div class="default-btn">
                                                                        <a href="#" class="links">Shopping Now</a>
                                                                    </div>
                                                                </div>
                                                                <!-- Li's Static Home Content Area End Here -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <%}%>
                                                        <%}%>
                                                            <!-- banner 2 end------------------ -->
                                                            <!-- shop by brand--- -->
                                                            <div class="product-area pt-60 pb-50">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <div class="li-product-tab">
                                                                                <ul class="nav li-product-menu">
                                                                                    <li><a class="active"
                                                                                            data-toggle="tab"
                                                                                            href="#li-new-product"><span>Shop
                                                                                                By Brand
                                                                                            </span></a></li>

                                                                                </ul>
                                                                            </div>
                                                                            <!-- Begin Li's Tab Menu Content Area -->
                                                                        </div>
                                                                    </div>

                                                                    <div id="li-featured-product" class="tab-pane"
                                                                        role="tabpanel">
                                                                        <div class="row">
                                                                            <style>
                                                                                .product_desc_info {
                                                                                    display: flex;
                                                                                    flex-direction: column;
                                                                                    height: 120px;
                                                                                    /* Adjust the height as needed */
                                                                                    justify-content: space-between;
                                                                                }

                                                                                .price-box {
                                                                                    margin-top: auto;
                                                                                }
                                                                            </style>

                                                                            <div class="product-active owl-carousel">
                                                                                <% for (let i=0; i < brandData.length;
                                                                                    i++) { %>
                                                                                    <div class="col-lg-12">
                                                                                        <!-- single-product-wrap start -->
                                                                                        <!-- for looping -->
                                                                                        <div
                                                                                            class="single-product-wrap">

                                                                                            <div class="product-image">
                                                                                                <a
                                                                                                    href="/shop?brandfilter=<%=brandData[i]._id%>&keyword=&sortBy=">
                                                                                                    <img src="/admin-assets/uploads/<%= brandData[i].imageUrl %>"
                                                                                                        alt="Li's Product Image">
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="product_desc">
                                                                                                <div
                                                                                                    class="product_desc_info">

                                                                                                    <h4>
                                                                                                        <a class="product_name"
                                                                                                            href="/shop?brandfilter=<%=brandData[i]._id%>&keyword=&sortBy="
                                                                                                            title="<%= brandData[i].name %>">
                                                                                                            <%=
                                                                                                                brandData[i].name.length>
                                                                                                                50 ?
                                                                                                                brandData[i].name.substring(0,
                                                                                                                50) +
                                                                                                                '...'
                                                                                                                :
                                                                                                                brandData[i].name
                                                                                                                %>
                                                                                                        </a>
                                                                                                    </h4>

                                                                                                    <div
                                                                                                        class="product_desc_info">
                                                                                                        <div
                                                                                                            class="product-review">
                                                                                                            <h5
                                                                                                                class="manufacturer">
                                                                                                                Shop By
                                                                                                                Brand
                                                                                                            </h5>
                                                                                                        </div>
                                                                                                        <h4>

                                                                                                        </h4>
                                                                                                        <div
                                                                                                            class="price-box">

                                                                                                        </div>

                                                                                                    </div>

                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- for looping -->
                                                                                    </div>
                                                                                    <% } %>

                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <%- include('footer.ejs')%>