<%- include('header.ejs') %>
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!-- Begin Login Content Area -->
    <!-- jersey man user login-->
    <div class="page-section mb-60">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                    <!-- Login Form s-->
                    <form action="/login" method="post">
                        <div class="login-form">
                            <h4 class="login-title">Login</h4>
                            <div class="row">
                                <div class="d-flex justify-content-center col-12 mb-20">

                                    <li id="message" class="text-center text-success">
                                        <%= sMessage %>
                                    </li>


                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <label>Email Address*</label>
                                    <input id="email" class="mb-0" type="email" placeholder="Enter the Email"
                                        value="<%= currentEmail %>" name="email">
                                </div>
                                <div class="col-12 mb-20">
                                    <label>Password*</label>
                                    <input id="password" class="mb-0" type="password" placeholder="Password"
                                        name="password">
                                </div>
                                <div class="col-md-8">
                                    <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                        <input type="checkbox" id="remember_me">
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-10 mb-20 text-dark font-weight-bold text-left text-md-right">
                                    <a href="/forgot-password"> Forgot password?</a>

                                </div>
                                <div class="col-md-12 mt-10 mb-20 text-dark font-weight-bold text-left text-md-right">
                                    <a href="/register">dont have an account? sign up</a>
                                </div>
                                <div class="d-flex justify-content-center col-12 mb-20">
                                    <% if(message!=null && message!=undefined) {%>
                                        <li id="message" class="text-center text-danger">
                                            <%= message %>
                                        </li>
                                        <% } %>
                                            <li class="text-danger text-center" id="message-li"></li>
                                </div>
                                <div class="col-md-12 d-flex justify-content-center">
                                    <button class="register-button mt-0" onclick="return validateForm()">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function validateForm() {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var messageLi = document.getElementById('message-li');

       
            messageLi.innerHTML = '';

            if (!email || !validateEmail(email)) {
                messageLi.innerHTML = 'Please enter a valid email address.';
                return false;
            }

        
            if (!password) {
                messageLi.innerHTML = 'Please enter your password.';
                return false;
            }

            // If all validations pass, submit the form
            document.getElementById('loginForm').submit();
        }

        // Function to validate email format
        function validateEmail(email) {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }
    </script>
    <!-- Login Content Area End Here -->
    <%- include('footer.ejs') %>