<%- include("header.ejs") %>
    <link rel="stylesheet" href="path/to/sweetalert2.css">
    <script src="path/to/sweetalert2.js"></script>

    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">Product</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!-- content-wraper start -->
    <div class="content-wraper">
        <div class="container">
            <div class="row single-product-area">
                <div class="col-lg-5 col-md-6">
                    <!-- Product Details Left -->
                    <div class="product-details-left">
                        <div class="product-details-images slider-navigation-1">
                            <div class="lg-image">
                                <a class="popup-img vbox-item MagicZoom"
                                    href="/admin-assets/uploads/<%=product.imagesUrl[0]%>" data-gall="myGallery">
                                    <img src="/admin-assets/uploads/<%=product.imagesUrl[0]%>" alt="product image">
                                </a>
                            </div>
                            <div class="lg-image">
                                <a class="popup-img vbox-item MagicZoom"
                                    href="/admin-assets/uploads/<%=product.imagesUrl[1]%>" data-gall="myGallery">
                                    <img src="/admin-assets/uploads/<%=product.imagesUrl[1]%>" alt="product image">
                                </a>
                            </div>
                            <div class="lg-image">
                                <a class="popup-img  vbox-item MagicZoom"
                                    href="/admin-assets/uploads/<%=product.imagesUrl[2]%>" data-gall="myGallery">
                                    <img src="/admin-assets/uploads/<%=product.imagesUrl[2]%>" alt="product image">
                                </a>
                            </div>
                        </div>
                        <div class="product-details-thumbs slider-thumbs-1">
                            <div class="sm-image"><img src="/admin-assets/uploads/<%=product.imagesUrl[0]%>"
                                    alt="product image thumb"></div>
                            <div class="sm-image"><img src="/admin-assets/uploads/<%=product.imagesUrl[1]%>"
                                    alt="product image thumb"></div>
                            <div class="sm-image"><img src="/admin-assets/uploads/<%=product.imagesUrl[2]%>"
                                    alt="product image thumb"></div>
                            <!-- <div class="sm-image"><img src="images/product/small-size/4.jpg" alt="product image thumb">
                            </div>
                            <div class="sm-image"><img src="images/product/small-size/5.jpg" alt="product image thumb">
                            </div>
                            <div class="sm-image"><img src="images/product/small-size/6.jpg" alt="product image thumb">
                            </div> -->
                        </div>
                    </div>
                    <!--// Product Details Left -->
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="product-details-view-content pt-60">
                        <div class="product-info">

                            <span class="product-details-ref">
                                brand: <%=product.brand.name%>
                            </span>
                            <style>
                                .product-details-ref {
                                    font-size: 16px;
                                    /* Adjust the font size as needed */
                                    display: block;
                                    /* Make each span appear on a new line */
                                    margin-bottom: 5px;
                                    /* Add some spacing between lines */
                                }
                            </style>

                            <h2>
                                <%= product.name %>
                            </h2>



                            <div class="rating-box pt-20">
                                <ul class="rating rating-with-review-item">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="review-item"><a href="#">Read Review</a></li>
                                    <li class="review-item"><a href="#">Write Review</a></li>
                                </ul>
                            </div>

                            <div class="price-box pt-20">
                                <span class="new-price new-price-2">&#8377;<%=product.price.salePrice%></span>
                                <span class="new-price new-price-2"
                                    style="text-decoration: line-through; color: rgb(73, 69, 69); font-size: 100%;">&#8377;
                                    <%= product.price.regularPrice %>
                                </span>

                            </div>
                            <span class="product-details-ref">
                                category: <%= product.category.name %>
                            </span>
                            <span class="product-details-ref">
                                team: <%= product.team.name %>
                            </span>
                            <span class="product-details-ref">
                                league: <%= product.league.name %>
                            </span>

                            <div class="product-variants">
                                <div class="produt-variants-size">
                                    <label>Select Size</label>
                                    <select class="nice-select" id="sizeSelect" name="size"
                                        onchange="sizeQty('<%=product._id%>');selectedSize(this)">
                                        <option value="s" title="S">Small</option>
                                        <option value="m" title="M">Medium</option>
                                        <option value="l" title="L">Large</option>

                                    </select>
                                    <script>
                                        function sizeQty(productId){
                                            let size=document.getElementById('sizeSelect').value
                                            window.location.href=`/single-product-view?_id=${productId}&size=${size}`

                                        }
                                        function setSelectedSize() {
                                            const queryString = window.location.search;

                                            if (queryString.includes('size')) {
                                                const sizeParam = new URLSearchParams(queryString).get('size');
                                                const sizeSelect = document.getElementById('sizeSelect');
                                                const options = sizeSelect.options;

                                                for (let i = 0; i < options.length; i++) {
                                                    if (options[i].value === sizeParam) {
                                                        options[i].selected = true;
                                                        break;
                                                    }
                                                }
                                            } else {
                                                document.querySelector('#sizeSelect option[value="m"]').selected = true;
                                            }
                                        }

                                        document.addEventListener('DOMContentLoaded', setSelectedSize);
                                    </script>

                                    <input type="text" id="sQty" value="<%=product.size.s.quantity%>" hidden>
                                    <input type="text" id="mQty" value="<%=product.size.m.quantity%>" hidden>
                                    <input type="text" id="lQty" value="<%=product.size.l.quantity%>" hidden>
                                    <label>Quantity Left: <label id="quantityLeft">1</label></label>
                                    <p id="hurry" style="color: red; display:none">hurry only few stocks left !</p>
                                </div>
                            </div>
                            <div class="single-add-to-cart">
                                <form action="#" class="cart-quantity" id="quantity-form">
                                    <div class="value-button" id="decrease" onclick="decreaseValue()"
                                        value="Decrease Value">-</div>
                                    <input type="number" id="number" value="1" readonly>
                                    <div class="value-button" id="increase" onclick="increaseValue()"
                                        value="Increase Value">+</div>

                                    <button id="addToCartBtn" class="add-to-cart" type=""
                                        onclick="addToCart('<%=product._id%>',event)">Add to cart</button>
                                </form>

                                <style>
                                    .quantity-form {
                                        width: 300px;
                                        margin: 0 auto;
                                        text-align: center;
                                        padding-top: 50px;
                                    }

                                    .value-button {
                                        display: inline-block;
                                        border: 1px solid #ddd;
                                        margin: 0px;
                                        width: 40px;
                                        height: 40px;
                                        text-align: center;
                                        vertical-align: middle;
                                        padding: 11px 0;
                                        background: #eee;
                                        -webkit-touch-callout: none;
                                        -webkit-user-select: none;
                                        -khtml-user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        user-select: none;
                                    }

                                    .value-button:hover {
                                        cursor: pointer;
                                    }

                                    .quantity-form #decrease {
                                        margin-right: -4px;
                                        border-radius: 8px 0 0 8px;
                                    }

                                    .quantity-form #increase {
                                        margin-left: -4px;
                                        border-radius: 0 8px 8px 0;
                                    }

                                    .quantity-form #input-wrap {
                                        margin: 0px;
                                        padding: 0px;
                                    }

                                    input#number {
                                        text-align: center;
                                        border: none;
                                        border-top: 1px solid #ddd;
                                        border-bottom: 1px solid #ddd;
                                        margin: 0px;
                                        width: 40px;
                                        height: 40px;
                                    }

                                    input[type=number]::-webkit-inner-spin-button,
                                    input[type=number]::-webkit-outer-spin-button {
                                        -webkit-appearance: none;
                                        margin: 0;
                                    }
                                </style>
                                <script>


                                    var max = 0;
                                    var quantityInput = document.getElementById('quantityInput');
                                    function selectedSize(selectElement) {

                                        var size = selectElement.value
                                        var quantityLeft = document.getElementById('quantityLeft')
                                        var hurryMessage = document.getElementById('hurry')
                                        var addToCartBtn = document.getElementById('addToCartBtn')
                                        var quantityChangeBtn = document.getElementById('quantity-form')

                                        var maxQuantity = parseInt(document.getElementById(size + "Qty").value, 10)
                                        quantityLeft.innerHTML = maxQuantity

                                        if (maxQuantity <= 10) {
                                            // Change style to red
                                            quantityLeft.style.color = 'red';
                                            hurryMessage.style.display = 'block'
                                            addToCartBtn.style.display = 'block'
                                            quantityChangeBtn.style.display = 'block'
                                        }
                                        if (maxQuantity > 10) {
                                            quantityLeft.style.color = 'black';
                                            hurryMessage.style.display = 'none'
                                            addToCartBtn.style.display = 'block'
                                            quantityChangeBtn.style.display = 'block'
                                        }

                                        if (maxQuantity === 0) {
                                            // Display "Out of Stock"
                                            quantityLeft.innerHTML = 'Out of Stock';
                                            quantityLeft.style.color = 'red';
                                            hurryMessage.style.display = 'none'
                                            addToCartBtn.style.display = 'none'
                                            quantityChangeBtn.style.display = 'none'
                                        }
                                        console.log(maxQuantity);
                                        max = maxQuantity
                                        document.getElementById('number').value = 1;



                                    }

                                    function increaseValue() {

                                        console.log(max + '  inside increase');
                                        var value = parseInt(document.getElementById('number').value, 10);
                                        value = isNaN(value) ? 1 : value;
                                        if (value > max) {
                                            value = max

                                        }
                                        if (value < max) {
                                            value++;

                                        }
                                        document.getElementById('number').value = value;
                                    }

                                    function decreaseValue() {
                                        var value = parseInt(document.getElementById('number').value, 10);
                                        value = isNaN(value) ? 0 : value;
                                        value < 1 ? value = 1 : '';
                                        if (value > 1) {
                                            value--;

                                        }

                                        document.getElementById('number').value = value;
                                    }





                                    // function incrementQuantity(event) {
                                    //    event.preventDefault()
                                    //     console.log('inside increment');
                                    //     var currentQuantity = parseInt(quantityInput.value, 10);
                                    //     console.log('current quantity  ' + currentQuantity);
                                    //     var maxQuantity = parseInt(quantityInput.getAttribute('data-max-quantity'), 10);

                                    //     console.log('max quantity  ' + maxQuantity);

                                    //     if (currentQuantity < maxQuantity) {
                                    //         quantityInput.value = currentQuantity + 1;
                                    //     }
                                    // }

                                    // function decrementQuantity(event) {
                                    //     event.preventDefault()
                                    //     console.log('asdfasdf');
                                    //     var currentQuantity = parseInt(document.getElementById('quantityInput').value, 10);

                                    //     if (currentQuantity > 1) {
                                    //         quantityInput.value = currentQuantity - 1;
                                    //     }
                                    // }




                                    //adding product to the cart
                                    async function addToCart(prId, event) {
                                        event.preventDefault()
                                        try {
                                            const productId = prId
                                            const qty = parseInt(document.getElementById('number').value, 10);
                                            const size = document.getElementById('sizeSelect').value
                                            console.log('inside add to cart ' + typeof (qty));
                                            console.log('size ' + size);
                                            window.location.href = `/add-to-cart?productId=${prId}&qty=${qty}&size=${size}`;



                                        } catch (error) {
                                            console.error('Error:', error);
                                        }
                                    }
                                    window.onload = function () {
                                        var sizeElement = document.getElementById('sizeSelect')
                                        selectedSize(sizeElement);
                                    };
                                </script>
                            </div>
                            <%if(productInWishlist){%>
                                 <!-- ---added to wishlist--- -->
                                 <div class="product-additional-info pt-25">

                                    <a class="wishlist-btn" href="#"><i
                                        class="fa fa-heart" style="color: red;"></i>Added to wishList
                                </a>
                                </div>
    
                            <%}else{%>
<!-- ----add to wishlist-- -->

                            <div class="product-additional-info pt-25">
                                <a class="wishlist-btn" href="#" onclick="addToWish('<%=product._id%>')"><i
                                        class="fa fa-heart-o"></i>Add to wishList
                                </a>
                             

                            </div>
                            <%}%>

                            <div class="block-reassurance">
                                <ul>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-check-square-o"></i>
                                            </div>
                                            <p>Security policy : Your Security is Our Priority</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-truck"></i>
                                            </div>
                                            <p>Delivery policy : Safe Packaging</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-exchange"></i>
                                            </div>
                                            <p> Return policy : Easy Return Process</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function addToWish(prId) {
            let size = document.getElementById('sizeSelect').value

            const requestData = {
                size: size,
                prId: prId
            };

            fetch('/add-to-wish', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData)
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error(`Error: ${response.status} - ${response.statusText}`);
                }
            })
                .then(data => {
                    console.log(data.message);
                    if (data.message === 'success') {
                        // Product can be added, show success message
                        swal.fire({
                            title: "Success",
                            text: "Product added to wishlist!",
                            icon: "success",
                            showConfirmButton: false  
                            });
                        setTimeout(() => {
                            window.location.reload()
                        }, 1000);
                    } else if (data.message === 'canAdd') {
                        // Product is already in the wishlist, show a different message
                        swal.fire("Info", "Product is already in the wishlist.", "info");
                    } else {
                        swal.fire({
                            title: "Info",
                            text: "Please Login to continue",
                            icon: "info",
                            
                        }).then(() => {
                            // Redirect to login page
                            window.location.href = '/login';
                        });

                    }
                    // window.location.reload();
                })
                .catch(error => {
                    console.log('Error adding product to wishlist', error);
                });

        }
    </script>
    <!-- content-wraper end -->
    <!-- Begin Product Area -->
    <div class="product-area pt-35">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="li-product-tab">
                        <ul class="nav li-product-menu">
                            <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a>
                            </li>
                            <li><a data-toggle="tab" href="#product-details"><span>Product Details</span></a></li>
                            <li><a data-toggle="tab" href="#reviews"><span>Reviews</span></a></li>
                        </ul>
                    </div>
                    <!-- Begin Li's Tab Menu Content Area -->
                </div>
            </div>
            <div class="tab-content">
                <div id="description" class="tab-pane active show" role="tabpanel">
                    <div class="product-description">
                        <span>
                            <%=product.description%>
                        </span>
                    </div>
                </div>
                <div id="product-details" class="tab-pane" role="tabpanel">
                    <div class="product-details-manufacturer">
                        <a href="#">
                            <img src="admin-assets/uploads/<%=product.brand.imageUrl%>" alt="Product Manufacturer Image"
                                width="200px" height="200px" style="object-fit: cover;">
                        </a>
                        <p><span>Brand </span>
                            <%=product.brand.name%>
                        </p>
                        <p><span>category </span>
                            <%= product.category.name %>
                        </p>
                        <p><span>Team </span>
                            <%=product.team.name%>
                        </p>
                        <p><span>League </span>
                            <%=product.league.name%>
                        </p>
                    </div>
                </div>
                <%if(product.review.length>0){%>
                <div id="reviews" class="tab-pane" role="tabpanel">
                    <div class="product-reviews">
                        <div class="product-details-comment-block">
                            
                            <div class="comment-review">
                                <span>Rating <%= product.avgRating %></span>
                                <ul class="rating">
                                  <% for (let i = 1; i <= 5; i++) { %>
                                    <li class="<%= i <= product.avgRating ? '' : 'no-star' %>">
                                      <i class="fa fa-star<%= i <= Math.ceil(product.avgRating) ? '' : '-o' %>"></i>
                                    </li>
                                  <% } %>
                                </ul>
                                
                                  
                            </div>
                            <!-- <div class="comment-author-infos pt-25">
                                <span>HTML 5</span>
                                <em>01-12-18</em>
                            </div>
                            <div class="comment-details">
                                <h4 class="title-block">Demo</h4>
                                <p>Plaza</p>
                            </div> -->

                            <div class="li-comment-section">
                                <h3><%=product.review.length%> comment</h3>
                                <ul>
                                    <%product.review.forEach((user)=>{%>
                                    <li class="comment-children">
                                     
                                        
                                 
                                        
                                        <div class="comment-body pl-15">
                                                <!-- <span class="reply-btn pt-15 pt-xs-5"><a href="#">reply</a></span> -->
                                            <h5 class="comment-author pt-15"><%=user.userId.name%></h5>
                                            <div class="comment-post-date">
                                                <% 
                                                    const userDate = new Date(user.createdAt);
                                                    const options = { 
                                                        year: 'numeric', 
                                                        month: 'short', 
                                                        day: 'numeric', 
                                                        hour: 'numeric', 
                                                        minute: 'numeric', 
                                                        hour12: true 
                                                    };
                                                    const formattedDate = userDate.toLocaleDateString('en-US', options);
                                                %>
                                                <%= formattedDate %>
                                            </div>
                                            <p><%=user.comment%></p>
                                        </div>
                                    </li>
                                    <%})%>
                                    
                                </ul>
                            </div>





                        </div>
                    </div>
                </div>
                <%}else{%>
                    <div id="reviews" class="tab-pane" role="tabpanel">
                        <div class="product-reviews">
                            <div class="product-details-comment-block">  
                                <div class="review-btn">
                                    <h4>No Reviews Yet!</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <%}%>
            </div>
        </div>
    </div>
    <!-- Product Area End Here -->
    <!-- Begin Li's Laptop Product Area -->
    <%if(relatedProductsBrands.length>1){%>
        <section class="product-area li-laptop-product pt-30 pb-50">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Section Area -->
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>Related products in the same Brand:</span>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="product-active owl-carousel">




                                <%for(let j=0;j<relatedProductsBrands.length;j++){%>
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="/single-product-view?_id=<%=relatedProductsBrands[j]._id%>">
                                                    <img src="admin-assets/uploads/<%=relatedProductsBrands[j].imagesUrl[0]%>"
                                                        alt="Li's Product Image">
                                                </a>
                                                <!-- <span class="sticker">New</span> -->
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">
                                                                <%=relatedProductsBrands[j].brand.name%>
                                                            </a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name"
                                                            href="/single-product-view?_id=<%=relatedProductsBrands[j]._id%>">
                                                            <%= relatedProductsBrands[j].name.length> 50 ?
                                                                relatedProductsBrands[j].name.substring(0, 50) + '...' :
                                                                relatedProductsBrands[j].name %>
                                                        </a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price"
                                                            style="font-size: 18px;font-weight: 900;">&#8377;<%=
                                                                relatedProductsBrands[j].price.salePrice %></span>
                                                        <span class="old-price" style="font-size: 15px;">&#8377;<%=
                                                                relatedProductsBrands[j].price.regularPrice %></span>
                                                        <!-- <span class="discount-percentage">-7%</span> -->
                                                    </div>

                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">

                                                        <li><a class="links-details" href="wishlist.html"><i
                                                                    class="fa fa-heart-o"></i></a></li>
                                                        <li><a href="#" title="quick view" class="quick-view-btn"
                                                                data-toggle="modal"
                                                                data-target="#exampleModalCenter<%=j%>"><i
                                                                    class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for looping -->
                                    </div>
                                    <% } %>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <%for(let i=0;i<relatedProductsBrands.length;i++){%>
                <div class="modal fade modal-wrapper" id="exampleModalCenter<%=i%>">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="modal-inner-area row">
                                    <div class="col-lg-5 col-md-6 col-sm-6">
                                        <!-- Product Details Left -->
                                        <div class="product-details-left">
                                            <div class="product-details-images slider-navigation-1">
                                                <div class="lg-image">
                                                    <img src="/admin-assets/uploads/<%=relatedProductsBrands[i].imagesUrl[0]%>"
                                                        alt="product image">
                                                </div>
                                                <div class="lg-image">
                                                    <img src="/admin-assets/uploads/<%=relatedProductsBrands[i].imagesUrl[1]%>"
                                                        alt="product image">
                                                </div>
                                                <div class="lg-image">
                                                    <img src="/admin-assets/uploads/<%=relatedProductsBrands[i].imagesUrl[2]%>"
                                                        alt="product image">
                                                </div>
                                            </div>
                                            <div class="product-details-thumbs slider-thumbs-1">
                                                <div class="sm-image"><img
                                                        src="/admin-assets/uploads/<%=relatedProductsBrands[i].imagesUrl[0]%>"
                                                        alt="product image thumb"></div>
                                                <div class="sm-image"><img
                                                        src="/admin-assets/uploads/<%=relatedProductsBrands[i].imagesUrl[1]%>"
                                                        alt="product image thumb"></div>
                                                <div class="sm-image"><img
                                                        src="/admin-assets/uploads/<%=relatedProductsBrands[i].imagesUrl[2]%>"
                                                        alt="product image thumb"></div>
                                            </div>
                                        </div>
                                        <!--// Product Details Left -->
                                    </div>

                                    <div class="col-lg-7 col-md-6 col-sm-6">
                                        <div class="product-details-view-content pt-60">
                                            <div class="product-info">

                                                <h2>
                                                    <%=relatedProductsBrands[i].name%>
                                                </h2>
                                                <span class="product-details-ref">
                                                    <%=relatedProductsBrands[i].brand.name%>
                                                </span>
                                                <!-- <div class="rating-box pt-20">
                                            <ul class="rating rating-with-review-item">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="review-item"><a href="#">Read Review</a></li>
                                                <li class="review-item"><a href="#">Write Review</a></li>
                                            </ul>
                                        </div> -->
                                                <div class="price-box pt-20">
                                                    <span class="new-price new-price-2">
                                                        <%=relatedProductsBrands[i].price.salePrice%>
                                                    </span>
                                                </div>
                                                <div class="product-desc">
                                                    <p>
                                                        <span>
                                                            <%=relatedProductsBrands[i].description%>
                                                        </span>
                                                    </p>
                                                </div>
                                                <!-- <div class="product-variants">
                                            <div class="produt-variants-size">
                                                <label>Dimension</label>
                                                <select class="nice-select">
                                                    <option value="1" title="S" selected="selected">small</option>
                                                    <option value="2" title="M">medium</option>
                                                    <option value="3" title="L">large</option>
                                                </select>
                                            </div>
                                        </div> -->
                                                <!-- <div class="single-add-to-cart">
                                            <form action="#" class="cart-quantity">
                                                <div class="quantity">
                                                    <label>Quantity</label>
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" value="1" type="text">
                                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i>
                                                        </div>
                                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                    </div>
                                                </div>
                                                <button class="add-to-cart" type="submit">Add to cart</button>
                                            </form>
                                        </div> -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
        </section>
        <%}%>
            <%- include('footer.ejs') %>