<%- include('header.ejs') %>
    <!-- Header Area End Here -->
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">User Orders</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!-- Begin Li's Main Blog Page Area -->
    <div class="li-main-blog-page li-main-blog-details-page pt-60 pb-60 pb-sm-45 pb-xs-45">
        <div class="container">
            <div class="row">
                <!-- Begin Li's Blog Sidebar Area -->
                <%- include('userSidebar.ejs') %>
                    <!-- Li's Blog Sidebar Area End Here -->
                    <!-- Begin Li's Main Content Area -->
                    <div class="col-lg-9 order-lg-2 order-1">
                        <div class="row li-main-content">
                            <div class="col-lg-12">
                                <div class="page-section mb-60">
                                    <div class="container text-align">
                                        <div class="row d-flex">

                                            <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12">
                                                <!-- Adjusted col-lg-6 to col-lg-8 for increased width -->
                                                <h4 class="login-title">Manage Orders</h4>

                                                <div class="col-12 d-flex justify-content-start pt-3">
                                                    <!-- <button class="register-button mt-0 custom-width-button"
                                                        onclick="hello(event)" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter">
                                                        Add New Address
                                                    </button> -->
                                            <%if(orderData && orderData.length>0){%>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Order ID</th>
                                                                <th scope="col">Total Amount</th>
                                                                <th scope="col">Payment Method</th>
                                                                <th scope="col">Order Status</th>
                                                                <th scope="col">Order Details</th>
                                                                <th scope="col">Cancel Order</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% orderData.forEach((order,index)=> { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= order.orderId %>
                                                                    </td>
                                                                    <td>
                                                                        <%= order.totalAmount %>
                                                                    </td>
                                                                    <td>
                                                                        <%= order.paymentMethod %>
                                                                    </td>
                                                                    <td>
                                                                        <%= order.orderStatus %>
                                                                    </td>
                                                                    <td>
                                                                        <!-- Replace the button with an eye (visibility) icon inside a button -->
                                                                        <!-- Add a custom class for square buttons -->
                                                                       <a href="/order-details?_id=<%=order._id%>"> <button
                                                                            class="register-button mt-0 square-button">
                                                                            <i class="bi bi-eye custom-eye-icon"></i>
                                                                        </button></a>




                                                                        <!-- <strong>Name:</strong> <%= order.address.firstName %> <%= order.address.lastName %><br>
                                                                                    User Addresses                                         <strong>Phone:</strong> <%= order.address.phone %><br>
                                                                                    <strong>Address:</strong> <%= order.address.houseName %>, <%= order.address.city %>, <%= order.address.state %> - <%= order.address.pincode %> -->
                                                                        <!-- Add more address details as needed -->
                                                                        <!-- ['pending', 'processing', 'shipped', 'delivered', 'cancelled'] -->
                                                                    </td>
                                                                    <%if(order.orderStatus=='pending' || order.orderStatus=='processing' || order.orderStatus=='shipped'){%>
                                                                    <td>
                                                                     <a href="#" style="color:red" onclick="cancelOrder('<%=order._id%>')">cancel</a>   
                                                                    </td>
                                                                    <%}%>
                                                                </tr>
                                                                <% }); %>
                                                        </tbody>
                                                    </table>
                                            <%}else{%>
                                                <h4 class="login-title">You haven't ordered anything yet </h4>
                                                <h4>-----</h4>
                                            <a href="/shop">
                                                <button class="register-button mt-0 custom-width-button"
                                                >
                                                Shop Now
                                             </button>
                                            </a>
                                            
                                          

                                                        <%}%>
                                               

                                                    <script>
                                                       
                                                   










                                                        function cancelOrder(id) {
                                                            const orderId=id
                                                            Swal.fire({
                                                                title: 'Cancel Order?',
                                                                text: 'Do you want to Cancel this order?',
                                                                icon: 'question',
                                                                showCancelButton: true,
                                                                confirmButtonText: 'Yes, Cancel!',
                                                                cancelButtonText: 'No, cancel'
                                                            }).then((result) => {
                                                                if (result.value) {

                                                                
                                                                    const requestData = {
                                                                        id:orderId
                                                                    };

                                                                    fetch('/cancel-order', {
                                                                        method: 'PATCH',
                                                                        headers: {
                                                                            'Content-Type': 'application/json',
                                                                        },
                                                                        body: JSON.stringify(requestData) 
                                                                    }).then(response => response.json())
                                                                        .then(data => {
                                                                            window.location.reload();
                                                                        })
                                                                        .catch(error => {
                                                                            console.log('Error updating cart quantity:', error);
                                                                        });

                                                                } else {
                                                                    Swal.fire('Not Cancelled', 'Your order was notCancelled.', 'info');
                                                                }
                                                            });
                                                        }
                                                        </script>


                                                

                                                    <div class="container mt-5">
                                                        <h3></h3>
                                                        <hr>

                                                        <!-- Loop through user addresses and display each one -->


                                                    </div>
                                                    <script>
                                                        // Function to open the edit modal
                                                        function openEditModal(index) {

                                                            var modalId = '#exampleModalEdit' + index;

                                                            // Trigger Bootstrap modal display
                                                            $(modalId).modal('show');
                                                        }




                                                        function hello(event) {
                                                            event.preventDefault();
                                                        }
                                                    </script>




                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            
                            
                        </div>
                        <% if (pageCount > 1) { %>
                            <div class="pagination-area" style="background-color: #f6f6f6;">
                              <div class="row">
                             
                                <div class="col-lg-6 col-md-6">
                                  <ul class="pagination-box">
                                    <% if (currentPage > 1) { %>
                                      <li>
                                        <a href="/user-dashboard?goto=user+orders&page=<%= parseInt(currentPage) - 1 %>" class="Previous"><i class="fa fa-chevron-left"></i> Previous</a>
                                      </li>
                                    <% } %>
                                    <% for (let i = 1; i <= pageCount; i++) { %>
                                      <li class="<%= i == currentPage ? 'page-item active' : 'page-item' %>">
                                        <a href="/user-dashboard?goto=user+orders&page=<%= encodeURIComponent(i) %>"><%= i %></a>
                                      </li>
                                    <% } %>
                                    <% if (currentPage < pageCount) { %>
                                      <li>
                                        <a href="/user-dashboard?goto=user+orders&page=<%= parseInt(currentPage) + 1 %>" class="Next">Next <i class="fa fa-chevron-right"></i></a>
                                      </li>
                                    <% } %>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <% } %>
                    </div>
            </div>
        </div>
        
       
            

        <!-- Li's Main Content Area End Here -->
    </div>
    </div>
    </div>
    <style>
        /* Custom style for square button */
        .square-button {
            width: 40px;
            /* Adjust the width as needed */
            height: 40px;
            /* Adjust the height as needed */
            padding: 0;
            /* Remove default padding */
        }
    </style>

    <script>
        function deleteAddress() {

            Swal.fire({
                title: 'Delete Address?',
                text: 'Do you want to Delete this Address?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Yes, Delete!',
                cancelButtonText: 'No, cancel'
            }).then((result) => {
                if (result.value) {
                    const indexOfAddress = document.getElementById('indexOfAddress').value
                    fetch(`/edit-user-address?index=${indexOfAddress}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => response.json())
                        .then(data => {
                            console.log(data.message)
                            window.location.reload();
                        })
                        .catch(error => console.log('cannot delete the file', error))

                } else {
                    Swal.fire('Cancelled', 'Your Address was not Deleted.', 'info');
                }
            });



        }
    </script>
       







    <!-- --------------modal----for adding product------------ -->
    <% for (let i=0; i < orderData.length; i++) { %>
        <div class="modal fade modal-wrapper" id="exampleModalCenter<%= i %>">
            <div class="modal-dialog modal-dialog-centered custom-modal-lg" role="document">
                <div class="modal-content text-center">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="checkout-area pt-60 pb-30">
                            <div class="container">
                                <!-- Address Section -->
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <form action="/add-address?_id=<%= userData._id %>" class="mx-auto"
                                            id="address-form" method="post">
                                            <div class="checkbox-form">
                                                <h3>Order Details</h3>
                                                <h5 class="comment-author pt-15">Delivery Details: </h5>
                                                <p><%= `${orderData[i].address[0].firstName} ${orderData[i].address[0].lastName}, ${orderData[i].address[0].phone}, ${orderData[i].address[0].altPhone}, ${orderData[i].address[0].houseName}, ${orderData[i].address[0].city}, ${orderData[i].address[0].state}, ${orderData[i].address[0].pincode}, ${orderData[i].address[0].landMark}` %></p>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="li-comment-section">
                                    <!-- <h3>03 comment</h3> -->
                                    <ul>
                                        <% orderData[i].items.forEach((item, index)=> { %>
                                            <li>
                                                <div class="author-avatar pt-15">
                                                    <img src="/admin-assets/uploads/<%= item.productId.imagesUrl[0] %>"
                                                        alt="User" style="height: 100px;width: 100px;">
                                                </div>
                                                <div class="comment-body pl-15">
                                                    <!-- <span class="reply-btn pt-15 pt-xs-5"><a href="#">reply</a></span> -->
                                                    <h6 class="comment-author pt-15">
                                                        <%= item.productId.name %>
                                                    </h6>
                                                    <h5 class="comment-author pt-15">Size: <%= item.size %> ||  Quantity:  <%= item.quantity %> ||
                                                             Unit Price: <%=
                                                                    item.productId.price.regularPrice %>
                                                    </h5>

                                                    <div class="comment-post-date">
                                                        <%
                                                        const options = {
                                                          year: 'numeric',
                                                          month: 'numeric',
                                                          day: 'numeric',
                                                          hour: 'numeric',
                                                          minute: 'numeric',
                                                          hour12: true, // Use 12-hour clock
                                                        };
                                                      
                                                        const formattedOrderedAt = orderData[i].orderedAt.toLocaleString('en-US', options);
                                                      %>
                                                      
                                                      <!-- Display the Ordered At timestamp without seconds -->
                                                      <p>Ordered At: <%= formattedOrderedAt %></p>
                                                    </div>
                                                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                                                        maiores adipisci optio ex, laboriosam facilis non pariatur
                                                        itaque illo sunt?</p> -->
                                                </div>
                                            </li>
                                            <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>







            <script>
                function validateForm() {
                    // Define validation rules for each field
                    var validationRules = {
                        'firstName': 'required',
                        'phone': 'phone',
                        'altPhone': 'phone',
                        'houseName': 'required',
                        'city': 'required',
                        'state': 'required',
                        'pincode': 'pincode',
                        'landMark': 'required'
                    };

                    // Reset error messages
                    resetErrors();

                    // Validate each field based on rules
                    var hasErrors = false;
                    for (var field in validationRules) {
                        var rule = validationRules[field];
                        var value = document.getElementById(field).value.trim();
                        var errorId = field + 'Err';

                        switch (rule) {
                            case 'required':
                                if (!value) {
                                    document.getElementById(errorId).innerText = 'Please fill the field.';
                                    hasErrors = true;
                                }
                                break;
                            case 'phone':
                                if (!isValidPhoneNumber(value)) {
                                    document.getElementById(errorId).innerText = 'Enter a valid phone number.';
                                    hasErrors = true;
                                }
                                break;
                            case 'pincode':
                                if (!isValidPincode(value)) {
                                    document.getElementById(errorId).innerText = 'Enter a valid pincode.';
                                    hasErrors = true;
                                }
                                break;
                            // Add more validation rules as needed
                        }
                    }
                    var phone = document.getElementById('phone').value.trim();
                    var altPhone = document.getElementById('altPhone').value.trim();
                    if (phone === altPhone) {
                        document.getElementById('altPhoneErr').innerText = 'same as the phone number';
                        hasErrors = true;
                    }
                    if (!hasErrors) {
                        showConfirmationDialog();
                    }

                    return !hasErrors; // Prevent form submission if there are errors
                }

                function isValidPhoneNumber(phone) {
                    // Implement phone number validation logic here
                    // Return true if valid, false otherwise
                    return /^\d{10}$/.test(phone);
                }

                function isValidPincode(pincode) {
                    // Implement pincode validation logic here
                    // Return true if valid, false otherwise
                    return /^\d{6}$/.test(pincode);
                }

                function showConfirmationDialog() {
                    Swal.fire({
                        title: 'Add Address?',
                        text: 'Do you want to Add this Address?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, Add!',
                        cancelButtonText: 'No, cancel'
                    }).then((result) => {
                        if (result.value) {
                            document.getElementById('address-form').submit();
                        } else {
                            Swal.fire('Cancelled', 'Your Address was not added.', 'info');
                        }
                    });
                }

                function resetErrors() {
                    var fields = ['firstName', 'phone', 'altPhone', 'houseName', 'city', 'state', 'pincode', 'landMark'];
                    for (var i = 0; i < fields.length; i++) {
                        var fieldName = fields[i];
                        var errorId = fieldName + 'Err';
                        document.getElementById(errorId).innerText = '';
                    }
                }
            </script>



            <%- include('footer.ejs') %>